.ss_slideliner{
	.table{
		margin-bottom: 0px;
	}
	.modal-lg{
		
	}
	.modal-content{
		margin-top: $mobileHeaderHeight + 50;
		background: #000;
	}
	.modal.black-no-footer{
		.modal-footer{
			display: none;
		}
		.modal-body{
			padding: 0px;
		}
		.modal-header 
		{

			border-bottom: none;
			position: relative;
			height: 0px;
			padding: 0px;
			min-height: 0px;
			.close {
				margin-top: -20px;
				position: absolute;
				right: -20px;
				color: #fff;
				background: #666;
				opacity: 1;
				z-index: 99;
				border-radius: 100%;
				width: 40px;
				height: 40px;
			}
		}
		&.error{
			.modal-body{
				color: #ff0000;
			}
		}
		&.with-border{
			.modal-content{
				border: solid 8px #7badd7;
				border-radius: 0px;
			}
			.modal-body{
				padding: 20px;
			}
		}
	}
	.valign-middle{
		vertical-align:  middle;
	}
	.text-align-left{
		text-align: left;
	}
	.text-align-right{
		text-align: right;
	}
	.text-center{
		text-align: center;
	}
	.display-inline{
		display: inline-block;
	}
	.hidden{
		width: 1px;
		height: 1px;
		overflow: hidden;
		visibility: hidden;
	}
	.word-break-all{
		word-break:break-all;
	}
	.radius
	{
		 &.radius-5{
		 	border-radius: 5px;
		 }
	}
	.lg-align-left,
	.md-align-left{
		text-align: left;
	}
	.lg-align-right,
	.md-align-right{
		text-align: right;
	}
	.padding{
		&.padding-40{
			padding: 40px;
		}
		&.padding-20{
			padding: 20px;
		}
		&.padding-30{
			padding: 30px;
		}
		&.padding-10{
			padding: 10px;
		}
		&.padding-top-bottom{
			padding-left: 0px;
			padding-right: 0px;
		}
		&.padding-top-bottom-right{
			padding-left: 0px;
		}
		&.padding-left{
			padding-top: 0px;
			padding-right: 0px;
			padding-top: 0px;

		}
	}
	.table{
		display: table;
		>.cell{
			display: table-cell;
		}
		&.row{
			>.cell{
				float: none;
			}
		}
	}

	.margin{
		&.margin-40{
			margin: 40px;
		}
		&.margin-30{
			margin: 30px;
		}
		&.margin-20{
			margin: 20px;
		}
		&.margin-10{
			margin: 10px;
		}
		&.margin-top{
			margin-left: 0px;
			margin-bottom: 0px;
			margin-right: 0px;
		}
		&.margin-bottom{
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;	
		}
	}
	.no-padding{
		padding: 0px;
	}
	.no-margin{
		margin: 0px !important;
	}
	.vspacing {
	    &.vspacing-40{
	      >div{
	        margin-top: 40px;
	      }
	    }
	    &.vspacing-60{
	      >div{
	        margin-top: 60px;
	      }
	    }
	    &.vspacing-100{
	      >div{
	        margin-top: 100px;
	      }
	    }
	    &.vspacing-20{
	      >div{
	        margin-top: 20px;
	      }
	    }

	    &.vspacing-10{
	      >*{
	        margin-top: 10px;
	      }
	    }
	    &.vspacing-30{
	      >div{
	        margin-top: 30px;
	      }
	    }
	    >div:first-child{
	      margin-top: 0px;
	    }
	    &.vspacing-20.vspacing-has-top{
	        >div:first-child{
	          margin-top:20px;
	        }
	    }
	}
}
@media (max-width: $screen-sm){
	.ss_slideliner{
		.padding{
			&.sm-padding-20{
				padding: 20px;
			}
			&.padding-top-bottom-right{
				padding-left: 0px;
			}
		}
		.vspacing{
			&.sm-vspacing-20{
				>div{
					margin-top: 20px;
				}
				>div:first-child{
					margin-top: 0px;
				}
			}
			&.sm-vspacing-10{
				>div{
					margin-top: 10px;
				}
				>div:first-child{
					margin-top: 0px;
				}	
			}
		}
	}
}
@media (max-width:  $screen-xs){
	.ss_slideliner{
		.xs-align-center{
			text-align: center;
		}
		.xs-align-left{
			text-align: left;
		}
		.vspacing{
			&.xs-vspacing-10{
				>div{
					margin-top: 10px;	
				}
				>div:first-child{
					margin-top:0px;
				}	
			}
		}
	}
}