@import "variables";
@font-face {
    font-family: 'samsung_interfaceregular';
    src: url('fonts/samsung-webfont.eot');
    src: url('fonts/samsung-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/samsung-webfont.woff') format('woff'),
         url('fonts/samsung-webfont.ttf') format('truetype'),
         url('fonts/samsung-webfont.svg#samsung_interfaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'samsung_interfaceblack';
    src: url('fonts/samsungif_blk-webfont.eot');
    src: url('fonts/samsungif_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/samsungif_blk-webfont.woff') format('woff'),
         url('fonts/samsungif_blk-webfont.ttf') format('truetype'),
         url('fonts/samsungif_blk-webfont.svg#samsung_interfaceblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'samsung_interfacebold';
    src: url('fonts/samsungif_bd-webfont.eot');
    src: url('fonts/samsungif_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/samsungif_bd-webfont.woff') format('woff'),
         url('fonts/samsungif_bd-webfont.ttf') format('truetype'),
         url('fonts/samsungif_bd-webfont.svg#samsung_interfacebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.ss_slideliner{
    h1,h2,h3,h4,h5{
        font-family: 'samsung_interfaceblack';
        margin:0px;
        text-transform: uppercase;
        line-height: 100%;
    }
    h4{
        font-size: $fontSize * 1.1;
        sup{
            position: relative;
            top:-2px;
            font-size: $fontSize;
        }
    }
    .font-size-md{
        font-size: 24px;
    }
    .font-size-lg{
        font-size: 30px;
        sup{
            position: relative;
            top:-14px;
            font-size: $fontSize;
        }
    }
    .font-size-xlg{
        font-size: 60px;
        sup{
            position: relative;
            top:-30px;
            font-size: $fontSize;
        }
    }

    .font-size-sm{
        font-size: 13px;
    }
    .font-size-xs{
        font-size: 12px;
    }
    .font-black{
        font-family: 'samsung_interfaceblack';
    }
    .font-regular{
        font-family: 'samsung_interfaceregular';
    }
    .font-bold{
        font-family: 'samsung_interfacebold';
    }
    .font-italic{
        font-style: italic;
    }
    .line-height-100PCT{
        line-height: 100%;
    }
    .text-uppercase{
        text-transform: uppercase;
    }
    .text-lowercase{
        text-transform: none;   
    }
    .color-black{
        color: #000;
    }
    .font-color-white{
        color: #fff;
    }
    sup{
        top:-0.2em;
        font-size: $fontSize;
    }
}
 