.ss_slideliner {
	.slideliner-right-line{
		background: url("img/footer.png") no-repeat;
		background-size: auto 100%;
		position: fixed;
		height: 100%;
		right: 0;
		width: 300px;	
		z-index: 1;	
		 

		-webkit-transform:translate(0,0);
				transform:translate(0,0);
		-webkit-transition:all 300ms 0ms;
				transition:all 300ms 0ms;
	}
	&.sliding{
		.slideliner-right-line{
			-webkit-transform:translate(100%,0);
					transform:translate(100%,0);
			-webkit-transition:all 300ms 0ms;
					transition:all 300ms 0ms;
		}
	}
}
.ss_slideliner
{
	.slide-linder-footer{
		background: url("img/footer.png") no-repeat;
		background-size: auto 100%;
		position: absolute !important;
		right: 0px;
		top: 0px;
		width: 280px;
		margin: 0px;
		z-index: 0 !important;
		margin-top: 0px !important;
		display: none;
	}
}
@media (max-width: 1700px){
	.ss_slideliner
	{
		.slideliner-right-line{
			display: none;
		}
		.slide-linder-footer{
			background: none;
			display: none;
			height: auto;
			filter:none;
			-ms-filter:none;
		}
	}
}
@media (max-width:$screen-xs - 1){
	.ss_slideliner
	{
		.slide-linder-footer{
			display: block;
			height: auto;
			background:none;
			.footer-inner{
				float: none !important;
				background: url("img/footer-xs.png") no-repeat;
				background-size: cover;			
				margin-left: - $mobilePagePadding;
				margin-right: - $mobilePagePadding;
				padding: 40px 20px !important;
			}
			position:inherit !important;
			width: 100%;
			top: auto;
			right: auto;
			
		}
	}
}