@import "variables";
.ss_slideliner{
	form{
		color: #666;
		input[type="text"],
		input[type="email"],
		select{
			padding:$controlPadding - 6;
			width: 100%;
			border:solid 2px #fff;
			color: #000;
			outline: none;
			-webkit-transition:all 1000ms;
			transition:all 1000ms;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		select:focus{
			border:solid 2px $colorBTNBlue;
		}
		.control-group{
			label{
				display: block;
				color: #666666;
				font-family: $fontBold;
				text-transform: uppercase;
				font-weight: 300;
			}

		}
		.control-group label.checkbox,
		label.checkbox{
			font-size: $fontSize - 2;
			font-family: $fontRegular;
			font-weight: 300;
			width: auto;
			height: auto;	
		}
		label.error{
			width: auto;
			color: #cd0101;
			text-align:left;
			font-size: 12px;
			font-weight: 300;
			margin-top: 5px;
			font-family: $fontRegular;
			text-transform: none;
		}
		.date-picker{
			display: table;
			overflow: auto;
			select{
				display: table-cell;
			}
			span{
				display: table-cell;
				padding: 10px 0px;
				width:4%;
				text-align: center;
				color: #fff;
			 
			}
		}
		.upload-wrapper{
			height: auto;
			overflow: hidden;
			position: relative;
			 
			.file-display{
				padding-right: 100px;
			}
			.attach-button{
				position: absolute;
				right: 0px;
				top:0;
				background: $colorBTNBlue;
				height: 100%;
				width: 100px;
				overflow: hidden;
				color: #fff;
				text-align: center;
				padding-top:10px;
				cursor: pointer;
				line-height: 100%;
				.wrapper{
					position: absolute;
					right: 0px;
					top:0;

				}
				input[type="file"]{
					height: 40px;
					opacity: 0;
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) !important;
					filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)'; 
					*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
					cursor: pointer;
				}
			}
		}
		.action-row{
			.button{
				cursor: pointer;
				padding-left: $controlPadding*2;
				padding-right: $controlPadding*2;
				margin-left: 10px;
			}
		}
	}
}