@import "variables";
@import "mixin";
html,
body{
	width: 100%;
	
	 
	margin: 0;
	color: #fff;
	font-family: $fontRegular;
	font-size: $fontSize;
	background: url("img/bg.jpg");
	 
}
.ss_slideliner{
	.btn-play-video{
		cursor: pointer;
	}
	a{
		color: $colorBTNBlue;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	a.color-white{
		color: #fff;
	}
	.blue-bg-alpha{
		background: $colorNavBlue;
		background: rgba(11,39,97,0.8);
	}
	.lg-dsp-inblock{
		display: inline-block;
	}

	.border{
		border-style: solid;
		&.border-8{
			border-width: 8px;
		}
		&.border-1{
			border-width: 1px;	
		}
		&.border-blue{
			border-color: $colorNavBlue;
		}
		&.border-light-blue{
			border-color: #7badd7;
		}
		&.border-bottom{
			border-bottom-style:solid 1px;
			border-top:none;
			border-left: none;
			border-right: none;
		}
	}


	.share-group{
		display: inline-block;
		.facebook{
			background: url("img/share-icons-facebook.png") no-repeat center center;
			height: 15px;
			width: 70px;
			background-size: 95%;
		}
		.twitter{
			background: url("img/share-icons-twitter.png") no-repeat center center;
			height: 16px;
			width: 54px;
			background-size: 95%;	
		}
		.share-icon{
			float: left;
			margin-left: 10px;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
				cursor: pointer;
				position: relative;
				z-index: 8;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		>.share-icon:first-child{
			margin-left: 0px;
		}
	}


	.on-drag{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.logo{
		background:url("img/logo.png") no-repeat center center;
		width: 120px;
		height: 41px;
		display: inline-block;
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.text-shadow{
		text-shadow: 0px 0px 2px #000;
	}
	.icon-span{
		padding-left: 20px;
		i{
			margin-left: -20px;
			margin-right: 4px;
		}
	}
	.diamond-shape{
		position: relative;
	}
	.diamond-shape:after,
	.diamond-shape:before{
		top: 0;
		bottom: 0;
		width: 6px;
		position: absolute;
		content: "";
		left: -2px;
		-webkit-transform: rotate($rotateDeg);
		transform: rotate($rotateDeg);
	}
	.diamond-shape:after{
		right: -2px;
		left: auto;
	}

	.diamond-outer{
		padding:0px 14px;
		overflow: hidden;
		.diamond-shape.diamond-more{
			&:before,
			&:after{
				width:14px;
				top:-10px;
				bottom: -10px;
				-webkit-transform:rotate(10deg);
						transform:rotate(10deg);
			}
			&:after{
				right: -7px;
			}
			&:before{
				left: -7px;
			}
		}
	}
	.button{
		display: inline-block;
		padding: $controlPadding;
		text-transform: uppercase;
		font-family: $fontRegular;
		border-radius: 0px;
		border:none;
		outline: none !important;
		text-decoration: none !important;
		cursor: pointer;
		line-height: 100%;
		padding-top: $controlPadding +  3;
		i{
			margin-left: $controlPadding;
			 
		}
		&.btn-lg{
			font-size: 20px; 	
			i{
				font-size: $fontSize * 1.1; 	 
			}
		}
	}
	.content.winseat .nav-tabs li>a:hover,
	.btn-grey{
		background: #666;
		color: #fff;
	}
	.content.winseat .nav-tabs li.active>a:hover,
	li.active>a.btn-grey,
	.btn-green{
		background: #158e18;
		color: #fff;
	}
	.btn-blue,
	.button-blue{
		background: $colorBTNBlue;
		&.diamond-shape:after,
		&.diamond-shape:before{
			background: $colorBTNBlue;
		}
		&.diamond-shape.btn-lg{
				&.diamond-shape:after,
				&.diamond-shape:before{
					 width:6px;
					 left: -3px;
				}
				&.diamond-shape:after{
					left: auto;
					right: -3px;
				}
		}
		&:active,
		&:hover{
			background: $colorNavBlue;
			color: #fff;
			text-decoration: none;
			&.diamond-shape:after,
			&.diamond-shape:before{
				background: $colorNavBlue;
			}
		}
		color:#fff;
	}

	.btn-group{
		>div{
			display: inline-block;
		}
	}
	.btn-view-all{
		background: url("img/btn-view-all.gif") no-repeat;
		width: 147px;
		height: 31px;
		display: inline-block;
	}
	.btn-white{
		background: #fff;
		color: #000;
		&:before,
		&:after{
			background:#fff;
		}
		&:before{
			left: -3px;
		}
		&:after{
			right: -3px;
		}
		&:hover{
			color: #000;
			background:#fff;
		}
	}
	.btn-red{
		background: #ec0404;
		color: #fff;
		&:before,
		&:after{
			background:#ec0404;
		}
		&:before{
			left: -3px;
		}
		&:after{
			right: -3px;
		}
		&:hover{
			color: #fff;
			background:#ec0404;
		}
	}
	.btn-black{
		background: #000;
		color: #fff;
		&:before,
		&:after{
			background:#000;
		}
		&:before{
			left: -3px;
		}
		&:after{
			right: -3px;
		}
		&:hover{
			color: #fff;
			background:#000;
		}
	}
	.button.font-black{
		font-family: "samsung_interfaceblack";
	}
	.image-container{
		.inner{
			display: inline-block;
			display: block\9;
			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.top-container{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.slide-linder-footer{
		@include cssTransition(0,0,0,600ms,0ms);
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		height: 100%;
		img{
			height: 100%;
			width: 100%;
		}
	}
	.slide-linder-footer.out{
		@include cssTransition(100%,0,0,null,null);
	}
	.slide{
		width: 100%;
		position: absolute;
		&.entering_xx{
			.slide-linder-footer{
				-webkit-transform:translate(100%,0);
						transform:translate(100%,0);
			   -webkit-transition:-webkit-transform 200ms;
					   transition:transform 200ms;
			}
		}
	}
	.slide.slide-left{
		background: #ffff00;
		-webkit-transform:translate(-100%,0);
		transform:translate(-100%,0);
	}
	.slide.slide-right{
		background: #fff000;
		-webkit-transform:translate(100%,0);
		transform:translate(100%,0);
	}
	.slide{

		&.loader{
			background:none;
		}
		&.loader:before{
			content: "\f021";
			font-family: "FontAwesome";
			color: #fff;
			
			animation: 0.5s linear 0s normal none infinite spinoff;
		    -moz-animation: spin .5s infinite linear;
		    -webkit-animation: spin .5s infinite linear; 
		    margin-top: 100px;
			font-size: 24px;
		    top:50%;
		    left: 50%;
		    position: absolute;
		    text-align: center;
		    vertical-align: middle;
		}
	}
	.main-content-wrapper{
		overflow-x:hidden;
		width: 100%;
		position: relative;
	}
	.main-content{
		width: 100%;
		
		position: absolute;
		top:0;
		&.sliding-working{
			.content{
				overflow: hidden;
			}
		}
	}
	.main-content.slide-to-left{ 
		-webkit-transform:translate(-100%,0);
		-webkit-transition:-webkit-transform 400ms ease-out;
		transform:translate(-100%,0);
		transition:transform 400ms ease-out;
	}
	.loader{
		background: url("img/AjaxLoader.gif") no-repeat center center;
		width: 16px;
		height: 16px;
		text-align: right;
		&.with-percent{
			display: inline-block;
			position: relative;
			width: 220px;
			background-position: left center;
			.percent{
				position: absolute;
				top:0px;
				left: 16px;
				display: inline-block;
				width:200px;
				background-color:$colorNavBlue;
				height: 16px;
				.inner{
					text-align: right;
					height: 16px;
					font-size: 9px;
					color: #fff;
					line-height: 16px;
					vertical-align: middle;
					padding-right: 5px;
					background-color:$colorBTNBlue;
				}
			};
		}
		&.center-no-width{
			width: inherit;
			height: inherit;
			text-align: inherit;
		}
		&.vertical-layout{
			background-position: center top;
			height: auto;
			padding-top: 25px;
			width: auto;
			.percent{
				position: relative;
				left: auto;
				top: auto;
			}
		}
	}
	.content{
		
		padding-left: $slideContentPaddingLeft;
		 
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		min-height: 500px;
		position: relative;
		overflow: hidden;
		.bottom-container{
			 
		}
		.heading{
			.sub-heading{
				margin-top: 10px;
			}
			.heading-description{
				 
			}
		}
		.content-wrapper{
			padding: 40px;
			padding-top: 40px;
			position: relative;
			min-height: 400px;
			height: auto;
			>*{
				margin-top: 40px;
				position: relative;
				z-index: 1;		
			}
			>*:first-child{
				margin-top: 0px;
			}
		}

		&.max-width{
			.content-wrapper>*{
				max-width: 1100px;
				&.border-outer{
					max-width: 100%;
				}
			}
		}

	}
	ul.no-style{
		padding-left: 0px;
		list-style: none;
	}
	ul.arrow-style{
		padding-left: 0px;
		list-style: none;
		li{
			padding-left: 15px;
			margin-top: 5px;
			font-size: 14px;
		}
		li:before{
			content:"\f0da";
			position:absolute;
			font-family: "FontAwesome";
			margin-left: -15px;
			color: $colorBTNBlue;
		}
		li:first-child{
			margin-top: 0px;
		}
	}
	ol.blue-list-style{
		margin-top: 10px;
		padding-left: 23px;
		li{
			color: $colorBTNBlue;
			font-family: $fontBold;
			font-size: $fontSize;	
		 
			span{
				color: #fff;
				font-family: $fontRegular;
				font-size: $fontSize;
			}
		}
	}
	.disclaimer{
		font-style: italic;
		font-size: 12px;
		padding-bottom: 20px;	
		a{
			text-decoration: underline;
			color: #fff;
		}
	}

	.border-outer{
		margin-left:  $slideContentPaddingLeft * -1 + 100;
	}
	.border.border-bottom{
		height: 1px;
	}
	.holding-page{
		-webkit-transform:translate(0,-150%);
				transform:translate(0,-150%);
		-webkit-transition:-webkit-transform 400ms;
				transition:-webkit-transform 400ms;
		text-align: center;
	    width: 100%;
	    height: 100%;
	    background: #000;
	    background: rgba(0,0,0,0.9);
	    position: absolute;
	    top:0;
	    left: 0;
	    z-index: 999999;
	    vertical-align: middle;
	    .page-body{
	    	vertical-align: middle;
	    	display: inline-block;
	    	line-height: 20px;
	    	max-width: 700px;
	    	background: #000;
	    	padding: 20px;
	    	margin: 30px;
	    	border-radius: 10px;
	    	border:solid 4px $colorBTNBlue;
	    	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
			   -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
					box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	    	.image-container{
	    		margin-bottom: 20px;
	    	}
	    	img{
	    		max-height: 200px;
	    		width: auto;
	    	}
	    	.sport-man{
	    		img{
	    			max-height: 300px;
	    		}
	    	}
	    }
	    &.in{
	    	-webkit-transform:translate(0,0);
				transform:translate(0,0);
	    }
	}
}
@media (max-width: $screen-sm){
	.ss_slideliner{
		.border.border-bottom{
			margin-right: -200px;		
		}
	}
}
@media (max-width: $header-xs){
	.ss_slideliner{	
		.border-outer{
			margin-left: 0px;
		}
		.border.border-bottom{
			margin-left:-$mobilePagePadding;		
			margin-right: -$mobilePagePadding;		
		}
	}
}


@media (max-width: $screen-xs - 1){
}