.navbar-outer{
	position: absolute;
	top:0px;
	width: 95px;
	background: $colorNavBlue;
	-webkit-transform:translate(0,0);
	-webkit-transition:-webkit-transform 600ms ease-in-out;
	transform:translate(0,0);
	transition:transform 600ms ease-in-out;
	height: 100%;
	z-index: 9;
	.line{
		background: $colorNavBlue;
		width: 10px;
		height: 2000px;
		position: absolute;
		right: -93px;
		top:-10px;
		margin-right:0px;
		-webkit-transform: rotate($rotateDeg);
		transform:  rotate($rotateDeg);
	}
	.line.line-width-2{
		width: 2px;
		margin-right:  -12px;
		background: -moz-linear-gradient(top,  rgba(9,37,100,0) 13%, rgba(9,37,100,1) 44%, rgba(9,37,100,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(9,37,100,0)), color-stop(44%,rgba(9,37,100,1)), color-stop(99%,rgba(9,37,100,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(9,37,100,0) 13%,rgba(9,37,100,1) 44%,rgba(9,37,100,1) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(9,37,100,0) 13%,rgba(9,37,100,1) 44%,rgba(9,37,100,1) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(9,37,100,0) 13%,rgba(9,37,100,1) 44%,rgba(9,37,100,1) 99%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(9,37,100,0) 13%,rgba(9,37,100,1) 44%,rgba(9,37,100,1) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00092564', endColorstr='#092564',GradientType=0 ); /* IE6-9 */

	}

}
.navbar-outer.out{
	-webkit-transform:translate(-120%,0);
	transform:translate(-120%,0);
}
.navbar{
	border-radius: 0px;
	position: absolute;
	z-index: 1;
	background: $colorNavBlue;
	padding:73px 0px 0px 0px;
	height: 2000px;
	-webkit-transform: rotate($rotateDeg) translate(-44%,-19px);
	transform: rotate($rotateDeg) translate(-44%,-19px);
	width: 300px;
	text-align: right;
	overflow: hidden;
	.wrapper{
		-webkit-transform: rotate(- $rotateDeg);
		transform: rotate(- $rotateDeg);
		width: 100%;
	}
	.desktop-logo-container{
		margin-bottom: 27px;
		margin-top: 10px;
	}

	ul{
		list-style: none;
		margin-right: -30px;
		font-family: 'samsung_interfaceregular';
		text-transform: uppercase;
		font-style: italic;
		li{
			 width: auto;
			 overflow: hidden;
			 margin-top: 5px;
			 a{
			 	display: inline-block;
			 	padding: 4px;
			 	position: relative;
			 	color: #fff;
			 	text-decoration: none;
			 	outline: none;
			 	font-size: 13px;
			 }
			 a:before{
			 	top: 0;
				bottom: -16px;
				width: 9px;
				position: absolute;
				content: "";
				left: -5px;
				-webkit-transform: rotate(9deg);
				transform: rotate(9deg);
			 };
		}
		li.active,
		li:hover{
			a{
				background:#fff;
				color: $colorNavBlue;
			}
			a:before{
				
				background: #fff;
				
			}
		}
	}
	.share-group{
		margin-right: 26px;
	}
	.hash-tag{
		font-size: 15px;
		margin-top: 10px;
		margin-right: 28px;	
	}
	.terms{
		margin-right: 30px;
		a{
			display: block;
			font-size: 13px;
		}	
	}
}

header{
	.container{
		width: auto;
	}
}