.ie8{ 
	.navbar-outer{
		width: 225px;
		background-color: $colorNavBlue;
		.line{
			display: none;
		}
	}
	.navbar{
		background: url("img/header-bg.png") no-repeat top right transparent;
		width: 302px;
		.wrapper{
			width: auto;
			margin-right: 80px;
			display: inline-block;
		}
		height: 100%;
		ul,
		.hash-tag,
		.desktop-logo-container,
		.terms,
		.share-group{
			 margin-right: 0px;
		}
		ul{
			margin-right: -10px;
			li{
				a{
					padding-right: 10px !important;
				}
			}
		}
		 
	}
	.content{
		background-position: center center !important;
	}
	.content.home{
	 	.feature-item{
	 		.info{
	 			background: #000;
	 		}
	 		&:before{
	 			display:none;
	 		}
	 		&:hover{ 
	 			&:before{
	 				display:block;
	 			}
	 		}
	 	}
	 	.promotion-reminder{
			.reminder-slogan{
				.button{
					min-height: 100%;
				}
			}
		}
		.slide-liner-container{
			margin-top: 250px;
		}
	 	.sport-man-container{
	 		margin-top: -380px;
	 		right: -37px;
	 		.image-container{
	 			.inner{
	 				img{
	 					height:693px;
	 					width: auto;
	 				}
	 			}
	 		}
	 	}
	}
	.content.slideliner{
		.track{
			border:solid 1px $knobColor;
			padding-left: 53px;
			padding-right: 53px;
			&:before,
			&:after{
				display:none;
			}
		}

	}
	.content.winseat{
		.steps{
			.panel-group {
				.panel-body
				{
					margin-right: 42px;
				}
			}
		} 
	}
	.spin-3d{
		.frames{
			.feature-bubble{
				display: none;
			}

		}
		.frames.show-feature{
			.feature-bubble{
				display: block;
			}
		}
	}
	.footer{
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/footer.png',sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/footer.png',sizingMethod='scale')";
	}
	 
	.body_wrapper{
		max-width: 100% !important;
		width: 100% !important;
	}
	 
}

.ie8{
	.ss_slideliner{
		.image-container{
			.inner{
				a{
					display: block;
				}
			}
		}
	}
	.gallery-player.video{
		.carousel{
			.inner{
				 img{
				 	height: 483px;
				 }
			}
		}
	}
	.ss_slideliner{
		.content.home{
			.social-feed-container{

			}
		}
		.content.home,
		.content.social{		 
			.social-item{
				.profile{
					top: 100%;
				}
				&.photo:hover{
					.profile{
						top: 0; 
					}
				}			
			}
		}
	}
}