html,
body{
	 
}
.top-container,
.main-content-wrapper{
	overflow: hidden;
}
.main-content{
	width: 100%;
	position: absolute;
	top: 0;
	overflow: visible !important;
}
html.not-iframe{
	min-height: 100%;
	height: auto;
	body{
		min-height: 100%;
	 
	}
	.top-container,
	.main-content-wrapper,
	.main-content,
	.slide{
		height: 100%;
	}
}
html.static-header
{
	.global_header{
		position: fixed;
		z-index: 10;
		top:0;
	}
	.top-container{
		margin-top: 80px;
		.navbar-outer{
			position: fixed;
			z-index: 1;
			.navbar{
				top:50px;
			}
		}
	}
	.footer{
		z-index: 2;
	}
}

@media(max-width: 1023px){
	html.static-header
	{
		.global_header{
			position: static;
		}
		.top-container{
			margin-top: 0px;
			.navbar-outer{
				position: absolute;
				z-index: 1;
				.navbar{
					top:0px;
				}
			}
		}
		 
	}
}

@media(max-width: 767px){
	html._xstatic-header
	{
		 
		.top-container{
			.navigation-small{
				position: fixed;
				top: 50px;
				z-index: 1;
			}
			margin-top: 50px;
			.navbar-outer{
				position: fixed;
				z-index: 1;
				.navbar{
					top:50px;
				}
			}
		}
		 
	}
}