@mixin cssTransition($x,$y,$deg,$second,$delay) {
	-webkit-transform:translate($x,$y) rotate($deg);
	transform:translate($x,$y) rotate($deg);		
    @if $second != 'null' {
    	-webkit-transition:-webkit-transform $second $delay ease-out;
		transition:transform $second $delay ease-out;
    }
}

@mixin boxShadow(){
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}