@media (max-width:$screen-sm){
	.ss_slideliner{
	    .font-size-md{
	    	font-size: 21px;
		}
		.font-size-lg{
		    font-size: 30px;
		    sup{
		        top:-15px;
		    }
		}
		.font-size-xlg{
		    font-size: 40px;
		}
		 
		sup.top-20{
			top:-10px;
		}

		.content{
			.content-wrapper{
				padding: 0px;
			}
			padding:25px;
			padding-left: $slideContentPaddingLeft-sm;
			.content-wrapper>*{
				margin-top: 20px;
			}
			.content-wrapper>*:first-child{
				margin-top: 0px;
				padding-top:10px;
			}
		}
		
		.content.winseat{
			.steps{
					.panel-group .panel-heading h4{
						font-size: $fontSize  * 1.5;
						a{
							padding-left: 25px;
							span{
								margin-left: -25px;
							}
						}
					}
				}
		}
		.content.prize{
			.panel-group{
				.panel-heading>.panel-title>a{
					font-size: 24px;
					i{
						line-height: 40px;
					}
				}
			}
		}
		.content.gallery{
			.gallery-item{
				 
			}
		}
	}
}
