@media (max-width:$header-xs){
	body{
		font-size: 16px;
	}
	.ss_slideliner{
		.mobile-button{
			padding: 5px;
			cursor: pointer;
			i{
				color:#fff;
				font-size: 30px;
			}
		}
		.mobile-logo{
			height: $mobileHeaderHeight;
			display: inline-block;
			padding:5px 30px;
			a{
				display: inline;
			}
			img{
				height: 100%;
			}
		}
		.navigation-small{
			-webkit-transform:translate(0,0);
					transform:translate(0,0);
			-webkit-transition:-webkit-transform 600ms ease-in-out;
					transition:transform 600ms ease-in-out;
			z-index: 10;
			@include boxShadow();
			.table{
				margin-bottom: 0px;
				z-index: 1;
			}
			display: block !important;
			height: $mobileHeaderHeight;
			background:$colorNavBlue;
			width:100%;
			position: absolute;
			padding-right:00px;
			top:0px;
			.cell{
				float: none !important;
				display: table-cell !important;
				vertical-align: middle;
			}
			.mobile-logo-container{
				text-align: right;
				background: url("img/mobile-header-bg.png") no-repeat left center;
				background-size: auto 100%;
			}
			.mobile-button-container{
				width: $mobileMenuTriggerWidth;
			}
		}
		.navbar-outer{
			background: #fff;
			-webkit-transition:-webkit-transform 600ms ease-in-out;
					transition:transform 600ms ease-in-out;
			-webkit-transform:translate(0,0);
					transform:translate(0,0);
			width: 85%;
			backface-visibility: hidden;
			.line{
				display: none;
			}
			.navbar{
				-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
				-moz-box-shadow:    5px 0px 5px 0px rgba(0, 0, 0, 0.5);
				box-shadow:         5px 0px 5px 0px rgba(0, 0, 0, 0.5);
				border: none;
				padding: 0px;
				.desktop-logo-container{
					display: none;
				}
				background: #0c1528;
				-webkit-transform:none;
					    transform:none;
				.wrapper{
					-webkit-transform:none;
					    transform:none;
					    background: #172033;
				}
				height: 100%;
				width:100%;
				ul{
					margin-right: 0px;
					padding-left: 0px;
					padding-top: 10px;
					li:first-child{
						 
					}
					li{
						padding-right: 30px;
						a{
							text-align: left;
							padding: 5px;
							display: block;
							padding-left: 20px;
						}
						a:after{
							content:"";
							position: absolute;
							right: -4px;
							top: -2px;
							bottom: 0px;
							width: 9px;
							background: #fff;
							opacity: 0;
							-webkit-transform:rotate($rotateDeg * 2);
									transform:rotate($rotateDeg * 2);
						}
						&:hover,
						&.active{
							a{
								&:after{
									 opacity:1;
								}
							}
						}
					}
				}
				.hash-tag{
					padding: 20px;
					padding-left: 20px;
					margin: 0px;
					background: #0c1528;
				}
				.share-group{
					width: 100%;
					padding-left: 20px;
					margin-right: 0px;
					margin-bottom: -10px;
					background: #0c1528;
					.share-icon{
						background: none;
						display: block;
						width: 100%;
						margin-top: 10px;
						margin-left: 0px;
						position: relative;
						&:before{
							font-family: "FontAwesome";
							position: absolute;
							font-size: 20px;
						}
						&:after{
							position: absolute;
							left: 20px;
							top: 4px;
						}
					}
					.facebook{
						&:before{
							content:"\f082";
						}
						&:after{
							content: "Share on facebook";
						}
					}
					.twitter{
						&:before{
							content:"\f081";
						}
						&:after{
							content: "Share on twitter";
						}
					}
				}
				.terms{
					display: none;
				}
			}
			
		}
		.navigation-small.out{
			-webkit-transform:translate((85%),0);
					transform:translate((85%),0);
		}
		.navbar-outer.out{
			-webkit-transform:translate(-(100%),0);
					transform:translate(-(100%),0);
		}
		.navbar-outer.in{
			-webkit-transform:translate(0,0);
					transform:translate(0,0);
		}
		.slide{
			padding-top: $mobileHeaderHeight;
		}
		.content{
			padding: 20px;
		}
	}
}
@media (max-width:  $screen-xs - 1){
	.ss_slideliner{
		.table{
			>.cell{
				float: left;
				display: block;
			}
		}
		.button {
			padding: 8px 15px 5px;
			&.btn-lg{
				font-size: 23px;
			}
		}
		.font-size-md{
	    	font-size: 17px;
		}
		.font-size-lg{
		    font-size: 23px;
		    sup{
		    	top:-8px;
		    }
		}
		.font-size-xlg{
		    font-size: 28px;
		    sup{
		    	top:-10px;
		    }
		}
		.content{
			padding: $mobilePagePadding;
			padding-bottom: 0px;
		}
		 
		.disclaimer{
			br{
				display: none;
			}
		}
	}

}