.ss_slideliner{
	&.social{
		background: url("img/home/bg.jpg") no-repeat;
		background-size: cover;
		background-attachment: fixed;	
		.slideliner-right-line{
			display: none;
		} 
	}

	.content.gallery,
	.content.home,
	.content.social{
		.background{
			max-width: 1293px;
			background: #fff;
			background: rgba(255,255,255,0.9);
		}
		.retweet{
			background: url("img/icon-retweet.png") no-repeat center;
			display: inline-block;
			width: 25px;
			height: 30px
		}
		.heading{
			background: #fff;
			color: $colorBTNBlue;
		}
		.social-feed-container-outer{
			max-width: 100%;
			>.social-feed-container-wrapper{
				margin-right: 0px;
				padding-top: 10px;
				padding-left: 10px;
				min-height: 400px;
			}
		}
		.social-feed-container{
			   margin:  0 auto;
			  .loader{
			    width: 30px;
			    height: 30px; 
			    bottom: 300px;
			    position: absolute;
			    left: 50%;
			    z-index: 99;
			    margin-left: -15px;
			    border: solid 1px #000;
			    border-radius: 100%;
			    background-color: #000;
			  }
		}
		.social-item{
			.profile{
				position: absolute;
				background: $colorNavBlue;
				background: rgba(9,37,100,0.8);
				color: #fff;
				a{
					color: #fff;
				}
				width: 100%;
				height: 100%;
				-webkit-transform:translate(0,100%);
						transform:translate(0,100%);
				-webkit-transition:-webkit-transform 300ms;
						transition:transform 300ms;
				margin-top: -55px;
				.profile-group{
					width: 75%;
					float: left;
				}
				.action-group{
					width: 25%;
					float: left;
				}
				.post-message{
					width: 0px;
					height: 0px;
					overflow: hidden;
					display: none;
					padding: 10px;
				}
				.profile-image{
					float: left;
					padding:10px;
					padding-right: 0px;
					img{
						max-width: 35px;
						max-height: 35px;
					}
				}
				.user-name{
					float: left;
					height: 35px;
					line-height: 35px;
					vertical-align: middle;
					padding-right: 0px;
					padding:10px;
					width: 170px;
				}
				.share-cell{
					height: 35px;
					line-height: 35px;					 
					padding:10px;
				}

			}
			.social-item-wrapper{
				position: relative;
				overflow: hidden;
				background: #fff;
				background: rgba(255,255,255,0.8);
				color: #000;
			}
			.action-row{
				text-align: center;
				a{
					color: #fff;
					cursor: pointer;
					margin-left: 5px;
				}
			}
			&.photo{
				cursor: pointer;
			}
			&.photo:hover{
				.profile{
					 margin-top: 0px;
					 -webkit-transform:translate(0,0);
						transform:translate(0,0);
					.profile-image,
					.user-name,
					.share-cell{
						line-height: 100%;
						float: none;
						width: 100%;
						text-align: center;
					}
					.user-name{
						padding-top: 0px;
						height: auto;
					}
					.profile-group{
						width: 100%;
						float: none;
					}
					.action-group{
						width: 100%;
						float: none;
					}
					.retweet{
						height: 17px;
					}
					.post-message{
						width: 100%;
						height: auto;
						display: block;
						-webkit-transform:translate(0,0);
								transform:translate(0,0);
					}
					overflow: auto;	 
				}
			}
			&.video{
				.social-item-wrapper{
					background: $colorNavBlue;
					 
				}
				.profile{
					height: auto;
					overflow: auto;
					position: relative;
					 -webkit-transform:translate(0,0);
							 transform:translate(0,0);
					-webkit-transition:none;
							transition:none;
					margin-top: 0px;
					.profile-group{
						width: 100%;
						float: none;
					}
				}
				.post-message{
					 
				}
				.action-group{
					width: 100%;
					float: none;
					padding-bottom: 10px;
				}
			}
			max-width: 320px;
			padding-right: 10px;
			padding-bottom: 10px;
			width: 100%;
			.media-container{
				video,
				img{
					width: 100%;
					height: auto;
				}
			}
			.post-message{
				padding: 10px;
				color: #fff;
				text-align: center;
				font-size: 14px;				
				a{
					color: #fff;
					font-size: 14px;
					text-decoration: underline;
				}
			}
			&.loading{
				opacity: 0;
			    position: absolute;
			    top:-500px;
			}
			&.instagram{
				.retweet{
					display: none;
				}
			}
			&.twitter{
				.twitter-share{
					display: none;
				}
			}
		}
	}
}

@media (max-width:640px){
	.ss_slideliner{
		.content.home,
		.content.social{
			.content-wrapper{
				>:first-child{
					padding-top:0px;
				}
				padding-bottom: 15px;
			}
			.social-feed-container-outer{
				>.social-feed-container-wrapper{
					margin-right: 0px;
					padding-left: 0px;
					text-align: center;
				}
			}
			.social-feed-container{
				display: inline-block;
				height: auto !important;
				width: auto !important;

			}
			.gallery-item,
			.social-item{
				max-width: 320px !important;
				padding-right: 0px;
				position: relative !important;
				top:auto !important;
				left: auto !important;
				opacity: 1 !important;
				-webkit-transform:none !important;
						transform: none !important;
				-webkit-transition:none !important;
						transition:none !important;
			}
			.gallery-item:last-child,
			.social-item:last-child{
				padding-bottom: 0px;
			}
		}
	}
}
@media (max-width: 350px){
	.ss_slideliner{
		.content.social{
			.heading.padding.padding-20{
				padding: 5px;
			}
		}
	}
}