@import "variables";
@import "mixin";
.ss_slideliner{
	.content.winseat{
		.win-seat-how{
			background: url("img/color-ribbon.png") no-repeat center center;
			background-size: cover;
		}
		.heading{
			.image-container{
				img{
					max-height: 100px;
					width: auto;
				}
			}
		}
		.how-win-seat{
			ol{
				margin-top: 10px;
				padding-left: 23px;
				li{
					color: $colorBTNBlue;
					font-family: $fontBlack;
					font-size: $fontSize;	
				 
					span{
						color: #fff;
						font-family: $fontRegular;
						font-size: $fontSize;
					}
				}
			}
		}
		.where-is-serial{
			margin-bottom: 10px;
			display: inline-block;
		}
		.notes{
			padding-right: 80px;
			.info-row{
				.cell{
					padding: $controlPadding;
				}
				.icon-cell{

				}
				.text-cell{
					width: 100%;
				}
			}
		}
		.steps{
			h4{
				font-family: $fontRegular;
				font-size: $fontSize  * 2;
				.font-bold{
					margin-right: 10px;
				}
			}
			.panel-group {
				margin-left:  $slideContentPaddingLeft * -1 + 100;
				.panel-heading,
				.panel{
					border-radius: 0px;
					border: none;
					background: transparent;
					margin-top: 1px;
					overflow: visible;

				}
				.panel-heading{
					padding: 0px;
					padding-right: 70px;
					background: transparent;
					overflow: hidden;
					a{
						text-decoration: none;
						padding-left: 30px;
						display: block;
						span{
							margin-left: -30px;
						}
					}
				}
				.panel-title{
					a{
						color: $colorAccordionHeadText;
					}
					position: relative;
					padding-top: 15px;
					padding-bottom: 15px;
					padding-left: 30px;
					background: $colorAccordion;
					-webkit-transition:all 400ms;
					transition:all 400ms;
				}
				.panel-title:after{
					content: "";
					position: absolute;
					right: -28px;
					width: 65px;
					background: $colorAccordion;
					-webkit-transform: rotate(20deg);
					transform: rotate(20deg);
					top: -97px;
					bottom: 0px;
					-webkit-transition:all 400ms;
					transition:all 400ms;
				}
				.panel-title.active:after,
				.panel-title.active{
					color: #fff;
					background: $colorBTNBlue;
				}
				.panel-title.active{
					a{
						color: #fff;
					}
				}
				.panel-body{
					background: #d2e0ec;
					margin-right: 70px;
				}
				.panel-body,
				.panel-title{
					padding-left: $slideContentPaddingLeft - 100;
				}
			}
			form{
				max-width: 800px;
				.nav-tabs{
					border-bottom: none;
				}
				.checkbox{
					margin-top: 2px;
				}
				.tab-content{
					margin-top: 20px;
					background: #fff;
					border:#b9c4cd;
					.step>*{
						display: block;
					}
				}
				.upload-wrapper{
					 
				}
			}
		}
	}
	.winseat-tvs .tv-serial-container{
		.row>div[class*='col']{
			width: 50%;
		}		
		.text-serials{
			display: inline-block;
		}
		ul{
			li{
				a{
					color: #fff;
				}
			}
		}
	}
	.share-on-facebook{
		margin: 15px 0px;
		padding: 0px !important;
		.icon-facebook{
			padding: 10px;
			display: inline-block;
			background: $colorNavBlue;
			margin-left: -6px;
			&:before,
			&:after{
				background: $colorNavBlue;
			}
		}
		a{
			padding: 5px;
			color: #fff;
			font-size: 15px;
		}
	}
	.samsung-sound-product{
		overflow: hidden;
		.diamond-shape{
			margin-left: -1px;
			height: 154px;
			line-height: 146px;
			vertical-align: middle;
			background: #fff;
		}
		.diamond-shape:after{
			background: #fff;
			width: 37px;
			right: -16px;
			-webkit-transform: rotate(6deg);
			transform: rotate(12deg);
			top: -6px;
		}
		.row{
			margin: 0px;
			>div[class*="col-"]{
				padding: 0px;
			}
		}
		.brief-container{
			padding: 10px;
			padding-left: 25px;
		}
		a{
			padding: 5px 50px;
			border: solid 1px #fff;
		}
	}
}
@media (max-width:  $screen-xs - 1){
	.ss_slideliner{
		.winseat-tvs .tv-serial-container{
			.row>div[class*='col']{
				width: 100%;
				
			}
		}
		.content.winseat{
			 .win-seat-how{
			 	h3,h4{
			 		text-align: center;
			 	}
			 	background:none;
			 }
			 .notes{
			 	padding-right: 0px;
			 	.info-row{
			 		.cell{
			 			width: 100%;
			 		}
			 		.icon-cell{
			 			text-align: center;
			 		}
			 	}
			 }
			 .steps{
			 	margin-left: - $mobilePagePadding;
			 	margin-right: - $mobilePagePadding;
			 	.panel-group{
			 		margin-left: 0px;
			 		.panel-heading{
			 			 padding:0px;

			 		}
			 		.panel-body{
			 			padding: 0px;
			 			margin-right: 0px;
			 		}
			 		.panel-title{
			 			padding: $mobilePagePadding;
			 			padding-left: $mobilePagePadding * 2;
			 			font-size: 18px;
			 			&:after{
			 				display:none;
			 			}
			 		}
			 	}
			 }
		}
		.samsung-sound-product{
			 
			.diamond-shape{
				margin-left: -1px;
				height: auto;
				line-height: 100%;
			}
			.diamond-shape:after{
				display: none;
			}
			.brief-container{
				padding: 10px;
			}
			.image-container{
				.inner{
					display: block;
					img{
						width: auto;
						max-height: 100px;
					}
				}
			}
		}
	}
}