.ss_slideliner{
	&.gallery{
		background: url("img/home/bg.jpg") no-repeat;
		background-size: cover;
		background-attachment: fixed;	
		.slideliner-right-line{
			display: none;
		} 
	}
	.share-group{
		a{
			margin-left: 5px;
		}
		a:first-child{
			margin-left: 0px;
		}
	}
	.content.gallery{
		.background{
			max-width: 1210px !important;
		}
		.btn-play{
			display: none;
			position: absolute;
		 	width: 50px;
		 	height: 50px;
		 	border-radius: 100%;
		 	border: solid 2px #fff;
		 	top:50%;
		 	left: 50%;
		 	margin-top: -25px;
		 	margin-left: -25px;
		 	line-height: 50px;
		 	text-align: center;
		 	vertical-align: middle;
		 	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
			i{
				text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);	
			}
		}

		.gallery-item{
			cursor: pointer;
			.gallery-item-wrapper{
				position: relative;
				overflow: hidden;
				background: $colorNavBlue;
			}
			display:inline-block;
			padding-right: 10px;
			padding-bottom: 10px;

			.profile{
				display: table;
				width: 100%;
				background: $colorNavBlue;
				background: rgba(9,37,100,0.9);
				color: #fff;
				a{
					color: #fff;
				}
				position: absolute;
				bottom: 0;
				.profile-image{
					text-align: left;
				}
				.profile-group,
				.action-group{
					display: table-cell;
					vertical-align: middle;
					padding: 5px;
				}
				.share-cell{
					text-align: right;
				}
				.action-group{
					width: 25%;

				}
				.profile-group{
					padding-left: 10px;
					width: 75%;
					>div{
						float: left;
					}
					.title{
						margin-left: 10px;
						font-size: 13px;
						width: 132px;						
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						padding-top: 3px;
					}
				}
			}
			.fa-camera,
			.fa-video-camera{
				display: none;
			}
			.media-container{
				height: 100%;
			}
			&.photo{
				 .fa-camera{
				 	display: inline-block;
				 }
			}
			&.video{
				.fa-video-camera{
				 	display: inline-block;
				}
				.btn-play{
					display: block;
				}
				
			}
		}
		.gallery-group-item{
			.gallery-group-item-inner{
				height: 100%;
				width: 100%;
			}
			width: 600px;
			height: 400px;
			float:left;
			padding-right: 10px;
			padding-bottom: 10px;
			.gallery-item{
				width: 50%;
				height: 50%;
				padding-bottom: 0px;
				padding-right: 0px;
				.gallery-item-wrapper{
					height: 100%;
					img{
						width: 100%;
					}
				}
			}
			&.single{
				.gallery-item{
					width: 100%;
					height: 100%;
					&.video{
						.media-container{
							img{
								width: auto;
								height: 100%;
							}
						}
					}
				}
			}
			&.four-item{
				.gallery-group-item-inner{
					width: auto;
					margin-right: -10px;
					margin-bottom: -10px;
				}
				.gallery-item{
					height: 200px;
					float: left;
					padding-bottom: 10px;
					padding-right:10px;
				}
			}
		}
	}
	.owl-carousel{
		padding: 0px 150px;
		overflow: hidden;
		.owl-stage-outer{
			overflow: visible;
		}
		.owl-controls{
			width: 100%;
			margin-top: 0px;
			.owl-nav div{
				padding: 0px;
				margin: 0px;
			}
			.owl-nav{
				.owl-prev{
					 background: url("img/gallery/icon-left.png") no-repeat center center;
					 left: 0px;

				}
				.owl-prev:hover{
					 
				}
				.owl-next{
					right: 0px;
					background: url("img/gallery/icon-right.png") no-repeat center center;
				}
				.owl-next:hover{ 
					
				}
				.owl-next,
				.owl-prev{
					top:0px;
					bottom: 0px;
					position: absolute;
					height: 100%;
					width: 45px;
					border-radius: 0px;
					font-family: "FontAwesome";
					
				}
			}
			 
		}
	}
	.gallery-player{
		.main-info{
			.location-container,
			.title-container{
				font-size: 15px;
			}
		}
		.image-container{
			.inner{
				text-align: center;
			}
		}
		.loader{
			display: inline-block;
		}
		.modal-header{
			border-bottom: none;
			button{
				border:solid 1px #fff;
				border-radius: 100%;
				color: #fff;
				background: $colorNavBlue;
				opacity: 1;
				width: 30px;
				height: 30px;
				margin-top: -13px;
			}
		}
		.share-group{
			a{
				color: #fff;
				cursor: pointer;
			}
		}
		.modal-footer{
			border-top: none;
			padding: 0px;
			button{
				display: none;
			}
		}
	}
	.gallery-player.video{
		.carousel{
			.inner{
				position: relative;
				display: block;
				.video-container{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
@media (max-width: 1640px){
	.ss_slideliner{
		.content.gallery{
			.social-feed-container-wrapper{
				text-align: center;
				.social-feed-container{
					display: inline-block;
				}
			}
		}
	}
}
@media (max-width: 660px){
	.ss_slideliner{
		.content.gallery{
			.social-feed-container-wrapper{
				margin-right: 0px !important;
				.social-feed-container{
					width: auto !important;
				}
			}
			.gallery-group-item{				
				width: 100%;
				height: auto;
				position: relative !important;
				top:auto  !important;
				left: auto  !important;
				opacity: 1 !important;
				-webkit-transform:none !important;
						transform: none !important;
				-webkit-transition:none !important;
						transition:none !important;
				.gallery-item{
					.profile{
						.profile-group{
							.title{
								padding-top: 0px;
							}
						}
					}
				}
				&.four-item{
					.gallery-item{
						height: 125px;
						.profile-group{
							width: 50%;
						}
						.action-group{
							width: 50%;
						}
						.title{
							display: none;
						}
					}
				}
				&.single{
					.gallery-item{
						width: 100%;
						height: auto;
						&.video{
							.media-container{
								height:auto;
								img{
									width: 100%;
									height:auto;
								}
							}
						}
					}
				}
			}
		}
	}
}