$knobColor:#345fc0;
.ss_slideliner{
	.content.slideliner{
		 background-image: url("img/slideliner/bg.jpg");
	}
	.spin-3d{
		max-width: 940px;
		width: 100%;
		padding-bottom: 30px;
		.spin-slider{
			 
			bottom: 0px;
			left: 0px;
			width: 100%;
			font-size: 12px;
			margin-bottom: -50px;
			.slide-the-bar-info{
				margin-top: -10px;
			}
			.track-outer{
				height: 65px;
				padding: 12px 20px;
				background: transparent;
				margin: 0px -15px;

			}
			.track{
				height: 50px;
				.inner{
					width: 100%;
				}
				.slider{
					width: 100% !important;
					z-index: 99;
					height: 100%;
				}
				padding-right:52px;
				padding-left:52px;
				background:url("img/3d-track-bg.png") repeat-x;
				height: 37px;
				border-top:solid 1px $knobColor;
				border-bottom: solid 1px $knobColor;
				&:before,
				&:after{
					background:url("img/3d-track-bg.png") repeat-x;
				}
				&:before{
					border-left:solid 1px $knobColor;
					bottom: -1px;
					border-bottom: solid 1px $knobColor;
				}
				&:after{
					border-right:solid 1px $knobColor;
					top:-1px;
					border-top: solid 1px $knobColor;	
				}
				.slider-selection{
					display: none;
				}
				.slider-track{
					background: transparent;
					background-image:none;
					filter:none;
					margin-top: 0px;
					top:auto;
					height: 100%;
				}
				.slider-handle{
					width: 100px;
					height: 33px;
					margin: 1px 2px;
					margin-left: -50px;
					cursor: pointer;
					background: $knobColor;
					filter:none;
					&:before,
					&:after{
						background:$knobColor;
					}
				}
			}
		}
		.frames{
			background: url("img/3d-bg.png") no-repeat center 90%;
			background-size: 100%;
			display: inline-block;
			position: relative;
			width: 100%;
			img{
				display: none;
			}
			img.show{
				width: 100%;
				max-width: 100%;
				visibility: visible;
			}
			.loader{
				display: none;
			}
			.feature-bubble{
				opacity: 0;

				-webkit-transition:all 100ms;
						transition:all 100ms;
				width: 100%;
				height: 100%;
				position: absolute;
				top:0px;
				left: 0px;
				.line{
					width: 1px;
					height: 100%;
					background: #fff;
					position: absolute;
				}
				.point{
					position: absolute;
					width: 30px;
					height: 30px;
					border-radius: 100%;
					background: #fff;
					margin-right: -15px;
					margin-bottom: -15px;
				}
				.info-container{
					background: #fff;
					padding:10px 20px;
					position: absolute;
					color: #000;
					p{
						font-size: 15px;
					}
					&:before,
					&:after{
						background:#fff;
						-webkit-transform:rotate(3deg);
								transform:rotate(3deg);
					}
				}
			}
		}
		.frames.show-feature{
			.feature-bubble{
				opacity: 1;
			}
		}
		.frames.loading{
			min-height: 400px;
			height: 400px;
			line-height: 400px;
			vertical-align: middle;
			img{
				visibility: hidden;
			}
			.loader{
				display: inline;
			}
		}
	}
}

@media (max-width:  $screen-xs - 1){
	.ss_slideliner{
		.content.slideliner{
			
		}
		.spin-3d{
			padding-bottom: 100px;
			.spin-slider{
				 
				.track{
					padding-right:17px;
					padding-left:17px;
					.slide-the-bar-info{
						margin-left: -15px;
						margin-right: -15px;
					}
					.slider-handle{
						width: 30px;
						margin-left:-15px;
					}
				}
			}
			 
			
			.frames{
				margin-top: 50px;
				.feature-bubble{
					.point{
						width: 20px;
						height: 20px;
						margin-right: -10px;
						margin-bottom: -10px;
					}
					.info-container{
						padding: 5px;
						right: auto !important;
						left: 0px;
						margin: 0 auto !important;
						width: auto;
						display: inline-block;
						position: relative;
						top:-50px !important;
						bottom: auto !important;
					}
				}
			}
		}
	}
}