.ss_slideliner
{
	.content.game{
		 .row{
		 	margin: 0px;
		 	>div[class*='col-']{
		 		padding: 0px;
		 	}
		 }
		 .second-game,
		 .first-game{
		 	opacity: 0.4;
		 }
		 .rectangle{
		 	 width: 340px;
		 	 height: 224px;
		 	 background: url("img/game/text-bg.png") no-repeat center center;
		 	 background-size: cover;
		 	 vertical-align: middle;
		 	 padding-top: 40px;
		 }
		 .anz-stadium{
		 	width: 606px;
		 	height: 224px;
		 	background: url("img/game/anz.png") no-repeat left center;
		 }
		 .play-ground{
		 	width: 606px;
		 	height: 224px;
		 	background: url("img/game/footback-ground.png") no-repeat left center;
		 }
		 .play-ground-red{
		 	width: 606px;
		 	height: 224px;
		 	background: url("img/game/footback-ground-red.png") no-repeat left center;
		 }
		 .games{
		 	max-width: 794px;
		 	margin-left: -40px;
		 }
	}
	.home-video .modal-lg{
		width: auto;
		max-width: 900px;
		padding: 10px;
		.video{
			height: 510px;
		}
	}
	.modal-backdrop.in{
		opacity: 0.8;
	}
}
@media (max-width: 1220px){
	.ss_slideliner
	{
		.content.game{
			.games{
				margin-left: 0px;
			}
			.rectangle{
				background:$colorNavBlue;
				border:solid 8px #000;
				width: 100%;
				padding-top: 20px;
				height: 200px;
			}
			.building-bg{
				width: 100%;
				border:solid 8px #000;
				background-position-x:-55px;
				height: 200px;
			}
		}
	}
}
@media (max-width:  $screen-xs - 1){
	.ss_slideliner{
		.content.game{
			.rectangle,
			.building-bg{
				border:0px;
				background-position-x:center;
				background-position-y:center;
				background-size: 130%;
			}
			.rectangle{
				height: auto;
				padding: 20px;
			}
		}
		.home-video .modal-lg{
			padding: 0px;
			.video{
				height: 360px;
			}
		}
	}
}

@media (max-width:  $screen-xs / 2){
	.ss_slideliner{
		.content.game{
		 	.building-bg{
		 		height: 125px;
		 	}
		}
		.home-video .modal-lg{
			padding: 0px;
			.video{
				height: 210px;
			}
		}
	}
}

