.ss_slideliner{
	.content.prize{
		.content-wrapper > *{
			margin-top: 20px;
			&:first-child{
				margin-top:0px;
			}
		}
		.heading{
			.heading-description{
				a{
					color: #fff;
					text-decoration: underline;
				}
			}
		}
		background:url("img/prizes/bg.jpg") no-repeat center center;
		background-size: cover;
		.panel-group {
			margin-left:  $slideContentPaddingLeft * -1 + 100;
			.panel-heading,
			.panel{
				border-radius: 0px;
				border: none;
				background: transparent;

			}
			.panel-heading{
				padding: 0px;
			}
			.panel-heading>.panel-title>a{
				outline: none;
				padding: 0px;
				padding-right: 70px;
				background-color: transparent;
				background-position: right center;
				background-repeat: no-repeat;
				overflow: hidden;
				-webit-transition:all 400ms;
				transition:all 400ms;
				color: #fff;
				padding: 20px;
				display: block;
				width: 100%;
				text-decoration: none;
				font-size: 36px;
				text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
				i{
					font-size: 20px;
					margin-left: 5px;
					margin-top: -5px;
					line-height: 80px;
					vertical-align: middle;
				}
			}
			.panel-title{
				padding:0px;
				background: transparent;
			}
			 
			 
			.panel-body{
				border-top:none;
				background: #000;
				margin-right: 30px;
			}
			.panel-heading>.panel-title>a,
			.panel-body{
				padding-left: $slideContentPaddingLeft - 100;
			}
		}
		.disclaimer{
			margin-bottom: 0px;
		}
		.notes{
			margin-left: 10px;
		}
		.slideliner-new-small{
			margin-left: -150px;
			max-height: 300px;
			margin-top: -180px;
		}
		.runner-prize-img{
			margin-top: -100px;
		}
		.prize-major{
			.panel-title>a.collapsed
			{		 
				background-image: url("img/prizes/heading-major-prize.png");	
			}
			.panel-title>a:hover,
			.panel-title>a{
				background-image: url("img/prizes/heading-major-prize-over.png");
			}
		}
		.prize-runner{
			.panel-title>a.collapsed{
				background-image: url("img/prizes/heading-runer-prize.png");
			}
			.panel-title>a,
			.panel-title>a:hover{
				background-image: url("img/prizes/heading-runer-prize-over.png");	
			}
		}
		.action-row{
			margin-top: 0px;
			.cell{
				vertical-align: top;
			}
			.btn-col{
				width: 200px;
			}
			.disclaimer-col{
				padding:5px 0px 0px 10px;
			}
		}
		.prize-how{
			.panel-title>a.collapsed{
				background-image: url("img/prizes/heading-how-to-win.png");
			}
			.panel-title>a,
			.panel-title>a:hover{
				background-image: url("img/prizes/heading-how-to-win-over.png");
			}
		}
	}
}

@media (max-width: 1320px){
	.ss_slideliner{
		.content.prize{
			.slideliner-new-small{
				margin-left: -100px;
				max-height: 130px;
				margin-top: -168px;
			}
			.runner-prize-img{
				margin-top: -50px;
			}
		}
	}
}
@media (max-width: 1110px){
	.ss_slideliner{
		.content.prize{
			 .slideliner-new-small{	
			 	margin-left: -20px;
				margin-top: -130px;
			}
		}
	}
}
@media (max-width:  $screen-xs - 1){
	.ss_slideliner
	{
		.content.prize{
			.panel-group{
				margin-left: - $mobilePagePadding;
				margin-right: - $mobilePagePadding; 
				.panel{
					margin-top: 1px;
				}
				.panel-heading > .panel-title > a,
				.panel-body{
		 			padding: $mobilePagePadding;
		 			margin-right: 0px;
		 		}
		 		.panel-heading > .panel-title > a{
		 			background-position: 80% center;
		 		}
			}
			.prize-panel-body{
				padding-left: 0px !important;
				.row.table{
					width: 100%;
					display: block;
					margin-left: 0px;
					margin-right: 0px;
					>.cell{
						padding-left: 0px;
						padding-right: 0px;
					}
				}
			}
			.slideliner-new-small{
				margin-left: 0px;
				max-height: 100%;
				margin-top: 50px;
			}
			.runner-prize-img{
				margin-top: 0px;
			}
			.action-row{
				.cell{
					width: 100%;
				}
			}
			 
		}
	}
}