.ss_slideliner{
	.content.gallery{
		background-color: #000;
		.item.album,
		.item.photo{
			.for-video{
				display: none;
			}
		}
		.item.video{
			.for-photo{
				display: none;
			}			
		}
		.owl-carousel .owl-wrapper-outer{		 
			border-left: solid 1px #b3b3b3;
			border-left: solid 1px rgba(179,179,179,0.5);
			border-right: solid 1px #b3b3b3;
			border-right: solid 1px rgba(179,179,179,0.5);
			.owl-item{
				overflow: hidden;
				.item
				{
					border: solid 1px #b3b3b3;
					border: solid 1px rgba(179,179,179,0.5);
					border-left: none;
				}
				&:first-child{
					.item
					{
						border-left: none;
					}
				}
			}
		}
		.video-gallery{
			margin-right: 40px;
			.owl-carousel .owl-wrapper-outer{
				border-right: none;
			}
		}
		.slide-linder-footer
		{
			background-size: 100%;
		}
	}
	.image-container-thumb{
		height: 230px;
		width: 100%;
		overflow: hidden;
		position: relative;
		>.inner{
			height: 230px;
			line-height: 230px;
			vertical-align: middle;
			text-align: center;
			display: block;
			img{
				vertical-align: middle;
				width: 100%;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.info{
			position: absolute;
			bottom: 0px;
			height: 100px;
			width: 100%;
			background: #000;
			background: rgba(0,0,0,0.8);
			padding: $controlPadding;
			.title-container{
				text-overflow:ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			.action-row{
				margin-top: 15px;
			}
			a{
				color: #fff;
			}
			.counter{
				float: right;
				font-size: 20px;
			}
		}
	}
	.owl-theme .owl-controls{
		width: 100%;
		margin-top: 0px;
		.owl-buttons div{
			padding: 0px;
			margin: 0px;
		}
		.owl-buttons
		{
			.owl-prev{
				 background: url("img/gallery/icon-left.png") no-repeat center center;
				 left: 0px;
				 margin-left: -65px;

			}
			.owl-prev:hover{
				 
			}
			.owl-next{
				right: 0px;
				background: url("img/gallery/icon-right.png") no-repeat center center;
				margin-right: -65px;
			}
			.owl-next:hover{ 
				
			}
			.owl-next,
			.owl-prev{
				top:0px;
				bottom: 0px;
				position: absolute;
				height: 100%;
				width: 45px;
				border-radius: 0px;
				font-family: "FontAwesome";
				
			}
		}
		 
	}
	.gallery-view{
		.main-container{
			.image-container{
				text-align: center;
			}
		}
		.thumbnails {
			.owl-controls{
				.owl-buttons
				{
					.owl-next,
					.owl-prev{
						background-size:60%;
					}
				}
			}
			.owl-item{
				border: solid 4px transparent;
				-webkit-transition:all 800ms;
				transition:all 800ms;
				&.active{
					border: solid 4px $colorBTNBlue;
				}
			}
		}
		.image-container-thumb{
			width: 100%;
			height: $galleryViewThumbnailHeight_md;
			>.inner{
				height: $galleryViewThumbnailHeight_md;
				line-height: $galleryViewThumbnailHeight_md;
			}
			.image-container{
				.inner{
					img{
						max-height: $galleryViewThumbnailHeight_md;
						width: 100%;
					}
				}
			}
			.info{
				display: none;
				opacity: 0;
				-webkit-transform: translate(0,100%);
						transform: translate(0,100%);
			  -webkit-transition: -webkit-transform 300ms;
					  transition: transform 300ms;
				height: 60px;
				.action-row,
				.location-container{
					display: none;
				}
			}
			&:hover{
				/*
				.info{
					opacity: 1;
					-webkit-transform: translate(0,0);
							transform: translate(0,0);
				}
				*/
			}
		}
	}
	 
	.gallery-player {
		.modal-header{
			position: relative;
			padding: 0px;
			height: 0px;
			border-bottom: none;
			.modal-title{
				display: none;
			}
			.close{
				width: 50px;
				height: 50px;
				background: #262626;
				border-radius: 100%;
				position: absolute;
				right: -92px;
				z-index: 999;
				opacity: 1;
				top: -27px;
				outline: none !important;
				i{
					color: #FFF;
				}
			}
		}
		.modal-content{
			border: solid 12px #191919;
			border-radius: 0px;
			background: #000;
			padding: 0px 60px;
			.modal-footer{
				display: none;
			}
		}
	}
	.gallery-player.video{
		.main-container{
			height: 450px;
		}
		.gallery-view{
			.image-container-thumb{
				height: auto !important;
				>.inner{
					height:  auto !important;
					line-height:  100% !important;
				}
				.image-container{
					height:  auto !important;
					line-height:  100% !important;
					.inner{
						height:  auto !important;
						line-height:  100% !important;
						img{
							max-height: 90px !important;
						}
					}
				}
			}
		}
	}
	.gallery-player.gallery-0{
		.gallery-view{
			.image-container-thumb{
				height: 90px;
				>.inner{
					height:  90px;
					line-height:  90px;
				}
				.image-container{
					.inner{
						img{
							max-height: 90px;
						}
					}
				}
			}
		}
	}
}
@media (max-width:  $screen-sm){
	.ss_slideliner{

		.image-container-thumb{
			height: 140px;
			>.inner{
				height: 140px;
				.image-container{
					line-height: 140px;
					>.inner{
						line-height: 140px;
						img{
							max-height: 140px;
						}
					}
				}
			}
			.info {
				opacity: 0;
				-webkit-transform:translate(0,100%);
						transform:translate(0,100%);
			   -webkit-transition:all 200ms ease-out;
			   		   transition:all 200ms ease-out;
				height: 80px;
				.action-row{
					margin-top: 5px;
				}
			}
			&:hover{
				.info{
					opacity: 1;
					-webkit-transform:translate(0,0);
						transform:translate(0,0);
				}
			}
		}
		.owl-theme {
			.owl-controls{
				.owl-buttons
				{
					.owl-next,
					.owl-prev{
						background-size: 70%;
					}
					.owl-prev{
						margin-left: -45px;
					}
					.owl-next{
						margin-right: -45px;
					}
				}
			}
		}	
		.gallery-view{
			.main-container{
				.image-container{
					.inner{
						img{
							max-height: 350px;
							max-width: 100%;
							width: auto;
						}
					}
				}
			}
			.image-container-thumb{
				height: $galleryViewThumbnailHeight_sm;
				.inner{
					height: $galleryViewThumbnailHeight_sm;
					line-height: $galleryViewThumbnailHeight_sm;
				}
			}
		}
		.gallery-player.gallery-0{
			.gallery-view{
				.image-container-thumb{
					height: 90px;
					>.inner{
						height:  90px;
						line-height:  90px;
					}
					.image-container{
						line-height:90px;
						.inner{
							line-height:90px;
							img{
								max-height: 90px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width:  950px){
	.ss_slideliner{
		.content.gallery{
			.gallery-item{
				.action-row{
					display: none;
				}
			}
		}
	}
}
@media (max-width: $screen-xs){
	.ss_slideliner{
		.content.gallery{
			.gallery-item{
				h4{
					margin-left: -40px;
				}
				padding: 0px 40px;
			}	
		}
	}
}
@media (max-width:  $screen-xs - 1){
	.ss_slideliner{
		.content.gallery{
			.item.video
			{
				.image-container-thumb{
					height: 106px;
					.inner{
						.image-container{
							line-height: 106px;
						}
						height: 106px;
						line-height: 106px;
					}
				}
			}
			.gallery-item{
				h4{
					margin-left: -40px;
				}
				padding: 0px 40px 40px;
				.action-row{
					display: none;
				}
				.info{
					height: auto;
				}
			}	
		}
		.gallery-view {
			.image-container-thumb{
				width: 100%;
				height: $galleryDetailThumbnailHeight_767;
				>.inner{
					height: $galleryDetailThumbnailHeight_767;
					line-height: $galleryDetailThumbnailHeight_767;
					.image-container{
						.inner{
							img{
								max-height: $galleryDetailThumbnailHeight_767;
							}
						}
					}
				}
			}
		}
		.gallery-player.video{
			.main-container{
				height: 400px;
			}
		}
		.gallery-player{
			.modal-dialog{
				margin: 0px 20px;
			}
			.modal-header {
				.close{
					right: -86px;
				}
			}
		}
	}
}
@media (max-width:  550px){
	.ss_slideliner{
		 
		.gallery-player{
			.modal-content{
				padding: 10px 30px;
			}
			.modal-header{
				.close{
					right: -58px;
				}
			}
		}
	}
}
@media (max-width:  $screen-xs / 2){
	.ss_slideliner{
		.content.gallery{
			.gallery-item{
				h4{
					margin-left: -30px;
				}
				padding: 0px 30px;

			}	
		}
		.owl-theme {
			.owl-controls{
				.owl-buttons
				{
					.owl-next,
					.owl-prev{
						background-size: 60%;
					}
					.owl-prev{
						margin-left: -40px;
					}
					.owl-next{
						margin-right: -40px;
					}
				}
			}
		}	
		.gallery-view {
			.for-photo.main-container,
			.thumbnails{
				padding-left: 30px;
				padding-right: 30px;
			}
			.image-container-thumb{
				width: 100%;
				height: $galleryDetailThumbnailHeight_767;
				>.inner{
					height: $galleryDetailThumbnailHeight_767;
					line-height: $galleryDetailThumbnailHeight_767;
				}
			}

		}
		.gallery-player.video{
			.main-container{
				height: 250px;
			}
		}
		.gallery-player{
			.ablum-title-container{
				padding-right: 30px;
			}
			.modal-dialog{
				margin: 0px;
			}
			.modal-header {
				.close{
					right: 0px;
					top:27px;
				}
			}
			.modal-body{
				padding: $mobilePagePadding;
			}
			.modal-content{
				border:none;
				padding: 0px;
			}
		}
	}
}

.ss_slideliner{
	.content.gallery{
		.owl-carousel .owl-wrapper-outer{
			border-right: none;
		}

		.gallery-item 
		{
		 	padding:0px 0px 40px;
		 	h4{
			 	margin-left: 0px;
			}
		}
		.video-gallery{
			.owl-carousel .owl-wrapper-outer{
				border: solid 1px rgb(179,179,179);
				border: solid 1px rgba(179,179,179,0.5);
				.owl-item .item{
					border-top: none;
					border-bottom: none;
					.action-row{
						margin-top: 0px;
					}
				}
			}
			 
		}
		.gallery-item.video-gallery{
			 
		}
	}
}

@media (max-width:$header-xs){
	.ss_slideliner{
		.content.gallery{
			.video-gallery{
				margin-right: 0px;
				padding-left: 40px;
				h4{
					margin-left: -40px;
				}
			}
		}
	}
}