.ss_slideliner{
	.content.smarttv{
		background: #030e22;
		.image-container{
			text-align: center;
		}
		.tvs{
			max-width: 900px;
			margin-left: -20px;
			.row{
				display: table;
			}
			.row>div[class*="col-"]{
				display: table-cell;
				float: none;
				vertical-align: top;
				position: relative;
				.tv-item{
					padding-bottom: 50px;
					.action-row{
						position: absolute;
						bottom: 0;
						left: 50%;
						margin-left: -90px;
					}
				}
			}
			.left-col{
				.image-container{
					.inner{
						img{
							width: auto;
							max-height: 153px;
						}
					}
				}
				 
			}
			.center-col{
			 	border-right: solid 1px #f7ffff;
				border-left: solid 1px #f7ffff;
				border-right: solid 1px rgba(247,255,255,0.5);
				border-left: solid 1px rgba(247,255,255,0.5);
			}
			.right-col{
				 
			}
		}

		.tv-item{
			padding: 0px 0px;
			background: url("img/smart-tv/bg.png") no-repeat center center;
			background-size: 100% 100%;
			width: 100%;
			display: inline-block;
			text-align: left;
			padding: 0px 20px;
			h3{
				font-size: 20px;
			}
			ul{
				li{
					sup{
						font-size: 12px;
						position: relative;
						top:-5px;
					}
					a{
						color: #fff;
					}
				}
			}
		}
		.btn-group{
			margin-left: -214px;
			.btn-purple-blue
			{
				background: #537cd1;
				>*{
					display: inline-block;
				}
				&:before,
				&:after{
					background:#537cd1;
				} 
				&:before{
					width: 10px;
					left: -5px;				
				}
				&:after{
					right: -5px;
					width: 10px;
				}
			}
			.btn-white{
				padding-left: 215px;
				padding-right: 20px;
				padding-top: 15px;
				h1{
					font-size: 32px;
				}
				&:before{
					left:-5px;
					width: 10px;
				}
				&:after{
					width: 10px;
					right: -5px;
				}
			}
			padding: 0px;
			>div{
				padding:10px;
				vertical-align: middle;
				height: 85px;
			}
		}
		.text-serials{
			display: inline-block;
		}
		.disclaimer{
			max-width: 900px;
		}

	}
}
@media (max-width:  1345px){
	.ss_slideliner{
		.content.smarttv{
			.btn-group{
				>div{
					width: 100%;
					height: auto;
					text-align: center;
				}
				.btn-purple-blue{
					padding-left: 230px;
					h2{
						font-size: 36px;
					}
					br{
						display: none;
					}
				}
			}
			.tvs{
				.left-col{
					.button.btn-white {
						margin-top: 0px;
					}
				}
			}
		}
	}	
}
@media (max-width: $screen-sm){
	.ss_slideliner{
		content.smarttv{
			.tv-item{
				width: 100%;
			}
			.tvs{
				.left-col{
					.button.btn-white {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
@media (max-width: $header-xs){
	.ss_slideliner
	{
		.content.smarttv{
			.btn-group{
				margin: 0px;
				
				.btn-purple-blue,
				.btn-white{
					h2{
						line-height:100%;
					}
					height: auto;
					line-height: 100%;
					padding: 15px;
					text-align: center;
					&:before,
					&:after{
						display:none;
					}
				}
			}
			.tvs{
				.left-col{
					.button.btn-white {
						margin-top: 0px;
					}
				}
				.right-col{
					.button.btn-white {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
@media (max-width: $screen-xs){
	.ss_slideliner{
		.content.smarttv{
			.tvs {
				.row{
					display: block;
				}
				.row>div[class*="col-"]{
					display: block;
					float: left;
					margin-top: 10px;
					&:first-child{
						margin-top:0px;
					}
					.tv-item{
						padding-bottom: 0px;
						.action-row{
							position: relative;
							bottom: auto;
							left: auto;
							margin-left: 0px;
						}
					}
				}
				.left-col{
					.image-container{
						.inner{
							img{
								width: auto;
								max-height: 100%;
							}
						}
					}
				}
				 .right-col{
					border:none;
					.text-serials{
						margin-right: 0px;
					}
				}
			}
			.text-serials{
				display: inline-block;
			}
			.btn-group{
				.btn-purple-blue{
					h2{
						font-size: 30px;
					}
				}
			}
			.disclaimer{
				br{
					display: block;
				}
			}
		}
	}
}
@media (max-width:  340px){
	.ss_slideliner
	{
		.tv-serial-container{
			font-size: 13px;
		}
	}
}