@import "mixin";
$animatelength:200ms;
.ss_slideliner{
	&.home{
		background: url("img/home/bg.jpg") no-repeat;
		background-size: cover;
		background-attachment: fixed;	 
	}
	.content.home{
		.social-feed-container .social-item{
			max-width: 273px;
			.profile{
				.profile-group{
					width: 70%;
				}
				.action-group{
					width: 30%;
				}
				.user-name{
					width: 139px;
				}
			}
		}
		.promotion-reminder-outer{
			display: inline-block;
		}
		.promotion-reminder{
			.reminder-slogan{
				margin-left: -13px;
				.button{
					padding: 1px;
					padding-left:5px;
					padding-right:5px;
					span,
					h2{
						position: relative;
						z-index: 1;						
					}
				}
			}
			padding:2px;
			.pull-left{	

			}
			h2{
				color: #ec0404;
			}
			.right-timer{
				padding-left: 10px;

			}
			.seperator{
				padding: 5px 2px; 
			}
			.value-container{				
				width: 53px;
				height: 32px;
				display: block;
				background: url("img/digit-bg.jpg") no-repeat;
				background-size: 100% 100%;
				font-size: 25px;
				letter-spacing: 10px;
				line-height: 35px;
				vertical-align: middle;
				padding-left: 8px;
			}
			.remaining{
				padding-left: 18px;
				padding-right: 10px;
				h3{
					line-height: 50px;
					vertical-align: middle;
				}
			}
			.hours-label,
			.day-label{
				font-size: 15px;
			}
			&.promotion-closed{
				.reminder-slogan{
					 position: relative;
					 z-index: 9;
					 margin-right: -13px;
				}
				h2{
					padding: 10px;
					color: #fff;
					margin-bottom: 0px;
				}	
			}

		}
		.social-footer{
			text-align: center;
			padding: 10px;
			background: #fff;
		}
		overflow: hidden;
		.row-margin-top-20{
			margin-top: 0px;
		}
		.play-the-video{
			position: absolute;
			top: 5px;
			left: 5px;
			width: 45px;
			height: 45px;
			line-height: 20px;
			cursor: pointer;
			z-index: 88;
		}
		 
		 h2.your-view-experience{
		 	font-size: 37px;
		 	letter-spacing: 0.1px;
		 	margin-top: -10px;
		 }
		 h2.it-is-for-you{
		 	font-size: 66px;
		 	margin-bottom: -5px;
		 }
		 h1.win-a-seat{
		 	font-size: 81px;
		 	line-height: 100%;
		 }
		 h1.samsung-slideliner{
		 	margin-top: -5px;
		 	font-size: 67px;
		 	line-height: 100%;
		 }
		 h3.plus-other{
		 	margin-top: 10px;
		 	font-size: 34px;
		 }	
		 h1.plus-other-bottom{
		 	font-size: 50px;
		 	sup{
		 		top: -20px;
		 	}
		 }
		 .slide-liner-container{
		 	margin:60px 0px;
		 	margin-top: 200px;
		 	display: inline-block;
		 	position: relative;
		 	opacity: 1;
		 	width: 100%;
		 	.rail-image{
		 		position: absolute;
		 		bottom: -4%;
		 		margin-left: -10%;
		 		/*margin-right: -158px;*/
		 	}
		 	.slide-liner-image{
		 		margin-top: -40px;
		 		text-align: right;
		 		z-index: 1;
		 		position: relative;
		 		-webkit-transform:translate(-62%, -51%) scale(0.2);
		 				transform:translate(-62%, -51%) scale(0.2);
		 		-webkit-transition:opacity 1000ms, -webkit-transform 1000ms;
		 			    transition:opacity 1000ms, transform 1000ms;
		 		.image-container{
		 			display: inline-block;
		 			width: 80%;
		 		}
		 	}
		 	.sport-man-container{
		 		position: absolute;
		 		right: 10%;
		 		top: 0;
		 		z-index: 0;
				opacity: 1;
				-webkit-transform:translate(0px, -55%) scale(0.65);
		 				transform:translate(0px, -55%) scale(0.65);
				/*
				-webkit-transform:translate(0,0) scale(0);
		 				transform:translate(0,0) scale(0);
		 		-webkit-transition:opacity 1000ms,-webkit-transform 600ms 1200ms;
		 			    transition:opacity 1000ms,transform 600ms 1200ms;
		 			    */
		 	}
		 	
		}
		.slide-liner-container.slide-in{
				opacity: 1;
				
			.slide-liner-image{
				opacity: 1;
				 -webkit-transform:translate(0,0) scale(1);
		 				transform:translate(0,0) scale(1);
			}
			.sport-man-container{
				 
			}
		}

		.bottom-container{
			max-width: 1110px;
		}
		.feature-group{
			.row>div[class*="col-"]{
				overflow: hidden;
			}
			margin:0px -72px;
		}
		.feature-item{
			float: none;
			vertical-align: middle;
			height: 190px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			-webkit-transition:background-size 200ms ease-out;
					transition:background-size 200ms ease-out;
			position: relative;
			overflow: hidden;
			&.watch-tvc{
				background-image: url("img/home/wath-tvc.jpg");
			}
			&.wireframe{
				background-image: url("img/home/slideliner-wireframe.gif");
			}
			&.admit-four{
				background-image: url("img/home/admit-four.jpg");
			}
			&.world-cup{
				background-image: url("img/home/world-cup.jpg");	
			}
			.title-text{
				font-size: 15px;
			}
		 	.info{
		 		width: 100%;
		 		background: rgba(0,0,0,0.8);
		 		text-align: center;
		 		padding: $controlPadding;
		 		position: relative;
		 		z-index: 4;
		 	}
		 	.start{
		 		overflow: hidden;
		 		max-height: 100px;
		 		opacity: 1;
		 		-webkit-transform:translate(0,0);
		 				transform:translate(0,0);
		 		/*-webkit-transition:all $animatelength $animatelength + 100 ease-out;
						transition:all $animatelength $animatelength + 100 ease-out;*/
		 	}
			.info-detail{
				text-align: center;
				width: 100%;
				max-height: 0px;
				overflow: hidden;
				opacity: 0;
			 	-webkit-transform:translate(100%,0);
			 			transform:translate(100%,0);
		 		/*-webkit-transition:all $animatelength ease-out;
						transition:all $animatelength ease-out;   */
			}
			&:before{
					width:100%;
					top:0px;
					height: 190px;
					position: absolute;
					background: #000;
					content: "";
					opacity: 0;
					-webkit-transition:opacity 400ms ease-out;
					transition:opacity 400ms ease-out;
					z-index: 0;
				}
			&.active,
			&:hover{ 
				background-size: 120%;
				&:before{
					opacity:0.8;
				};
				.info{
					background: transparent;
				}
				.start{
					max-height: 0px;
					opacity: 0;
					 -webkit-transform:translate(-100%,0);
					 		 transform:translate(-100%,0);
					 -webkit-transition:all 100ms ease-out;
							 transition:all 100ms ease-out;
				}
				.info-detail{
					overflow: visible;
					max-height: 100%;
					opacity: 1;
					 -webkit-transform:translate(0,0);
			 				 transform:translate(0,0);
			 		-webkit-transition:all $animatelength ease-out;
							transition:all $animatelength ease-out;  
							-webkit-transition-delay: 300ms; /* Safari */
	    					transition-delay: 300ms;
							 
				}
				 
			}
		}		 

	}
	.tv-video-player{
		width: 100%;
 		position: absolute;
		left: -7%;
		bottom: 10%;
		z-index: 9;
		overflow: hidden;
		.tv-bg-wrapper{
			width: 67%;
			position: relative;
		}
		.tv-bg{
			-webkit-transform:translate(0,100%);
					transform:translate(0,100%);
			-webkit-transition:-webkit-transform 200ms 1200ms;
					transition:transform  200ms  1200ms;
		}
		.background-wrapper{
			position: relative;
			z-index: 0;
		}
		.tv-player-foreground{
			padding-top: 1.1%;
			padding-left: 10.4%;
			padding-right: 11.6%;
			width: 100%;
			position: absolute;
			z-index: 1;
			top: 0;

		}
		.tv-player-container{
			position: relative;
			.player-container{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				.btn-play{
					 display: inline-block;
					 width: 66px;
					 height: 66px;
					 position: absolute;
					 left: 50%;
					 top: 50%;
					 margin-top: -33px;
					 margin-left: -33px;
					 z-index: 1;
					 cursor: pointer;
				}
				.video-object-container{
					position: absolute;
					width: 100%;
					height: 100%;
					max-height: 100%;
					.video-object-container-inner{
						height: 100%;
					}
				}
			}		
		}
			
		&.slide-in{
			.tv-bg{
				-webkit-transform:translate(0,0);
						transform:translate(0,0);
			}
		}
 	}
	
}
@media (max-width:  1540px){
	.ss_slideliner{
		.content.home{
			.tv-video-player{
				.tv-player-foreground{
					padding: 1.1% 10.5% 0% 10.5%;
				}
			}
		}
	}
}
@media (max-width:  1480px){
	.ss_slideliner{
		.content.home{
			  
			 h2.it-is-for-you{
			 	font-size: 44px;
			 	margin-bottom: 5px;
			 }
			 h1.win-a-seat{
			 	font-size: 65px;
			 	line-height: 100%;
			 }
			 h2.your-view-experience{
			 	font-size: 25px;
			 }
			 h1.samsung-slideliner{
			 	margin-top: -5px;
			 	font-size: 54px;
			 	line-height: 100%;
			 	sup.top-5{
			 		top:-24px; 
			 	}
			 }
			 h3.plus-other{
			 	margin-top: 10px;
			 	font-size: 26px;
			 }	
			 h1.plus-other-bottom{
			 	font-size: 44px;
			 	sup{
			 		top: -18px;
			 	}
			 }
			 .tnc-column{
			 	width: 57%;
			 }
			 .find-out-more-container{
			 	margin-top: 30px;
			 	text-align: left;
			 }
			.feature-group{
				margin: 0px;
				.feature-item{
					width: 50%;
					line-height: 200px;
					.info{
						line-height: 20px;
						display: inline-block;
					}
					&.active,
					&:hover{
						.info{
							 
						}
						.info-detail{
							display: inline-block;
							line-height: 20px;
							vertical-align: middle;
						}
					}
				}
			}
			 
			.slide-liner-container{
				 
				.sport-man-container{
					
					-webkit-transform:translate(0px, -55%) scale(0.60);
		 				transform:translate(0px, -55%) scale(0.60);
			 		 
			 	}
			} 
			.table{
				>.cell{
					float: left;
					display: block;
				}
			}
			.disclaimer{
				margin-left: 0px;
				br{
					display: none;
				}
			}
		}
	}
}
@media (max-width:  1340px){
	.ss_slideliner{
		.content.home{
			 h2.it-is-for-you{
			 	font-size: 44px;
			 	margin-bottom: 5px;
			 }
			 h1.win-a-seat{
			 	font-size: 53px;
			 	line-height: 100%;
			 }
			 h2.your-view-experience{
			 	font-size: 25px;
			 }
			 h1.samsung-slideliner{
			 	margin-top: -5px;
			 	font-size: 44px;
			 	line-height: 100%;
			 	sup.top-5{
			 		top:-18px; 
			 	}
			 }
			 h3.plus-other{
			 	margin-top: 10px;
			 	font-size: 26px;
			 }
			 h1.plus-other-bottom{
			 	font-size: 37px;
			 	sup{
			 		top: -16px;
			 	}
			 }
			 .tnc-column{
			 	width: 56%;
			 }
			 .tv-bg-wrapper{
			 	width:75%;
			 }
			.slide-liner-container{
				margin-top:200px;
				.sport-man-container{
					-webkit-transform:translate(0px, -57%) scale(0.55);
		 				transform:translate(0px, -57%) scale(0.55);
			 		 
			 	}
			} 
		}
	}
}
@media (max-width: $screen-sm){
	.ss_slideliner{
		.content.home{
			.bottom-container{
				margin-left: 0px;
			}
			.tnc-column{
			 	width: 66%;
			}
			.slide-liner-container{
				margin-top: 200px;
				.sport-man-container{
					right: 2%;
					-webkit-transform:translate(0px, -57%) scale(0.5);
		 				transform:translate(0px, -57%) scale(0.5);
		 		}
			}
			.slide-liner-container.slide-in{
				opacity: 1;
				.slide-liner-image{
						opacity: 1;
						 -webkit-transform:translate(0,0) scale(1);
				 				transform:translate(0,0) scale(1);
					}
				}
			}
	}
}
@media (max-width:1199px){
	.ss_slideliner{
		.content.home {
			.slide-liner-container{
			 
				.sport-man-container{
				 	 
		 		}
			}
		}
	}
}
@media (max-width:1024px){
	.ss_slideliner{
		.content.home {
			h1.plus-other-bottom{
			 	font-size: 30px;
			 	sup{
			 		top: -10px;
			 	}
			 }
			.promotion-reminder{
				.reminder-slogan{
					font-size: 14px;
				}
				h2{
					font-size:25px; 
					margin-bottom: 7px;
				}
			}
			.slide-liner-container{
			 	 
				.sport-man-container{
				 	margin-right: -10%;
		 		}
			}
		}
	}
}
@media (max-width:$header-xs){
	.ss_slideliner{
		.content.home{
			.tnc-column{
			 	width: 54%;
			}
			h2.it-is-for-you{
			 	font-size: 44px;
			 	margin-bottom: 5px;
			}
			h2.your-view-experience{
			 	font-size: 25px;
			}
			h1.plus-other-bottom{
			 	font-size: 37px;
			 	sup{
			 		top: -16px;
			 	}
			 }
			.slide-liner-container{
				.sport-man-container{
				 	margin-right: 0px;
		 		}
			}
		}
	}
}

@media (max-width:  $screen-xs - 1){
.ss_slideliner{
		.content.home{
			text-align: center;
			h1{
				display: inline-block;
			}
			h1.win-a-seat{
				font-size: 60px;
				display: block;
			}
			h1.samsung-slideliner{
			 	font-size: 51px;
			 	sup.top-5{
			 		top:-11px; 
			 	}
			}	
		 	h2.it-is-for-you{
			 	font-size: 44px;
			}
			h3.plus-other{
			 	font-size: 24px;
			}
			h1.plus-other-bottom{
			 	font-size: 29px;
			 	sup{
			 		top: -10px;
			 	}
			 }
			.tnc-column{
				width: 100%;
				padding: 0px 10%;
			}
			.slide-liner-container{
				margin-top: 30%;
				padding-top: 28%;
				.sport-man-container{
					width: 100%;
					-webkit-transform:translate(60px, -33%) scale(0.45);
			 				transform:translate(60px, -33%) scale(0.45);
					right: auto;
					margin-top: -100px;
				}
				.slide-liner-image{
					margin-left: -60px;
				}
			}
			.bottom-container{
				margin-left: - $mobilePagePadding;
				margin-right: - $mobilePagePadding;
				.row>.cell{
					display: table;
					.info{
						padding: 0px;
						display: table-cell;
						vertical-align: middle;
						background: transparent;
						.start{
							background: rgba(0,0,0,0.5);
							width: 100%;
							padding: 10px;
						}
					}
				}
			}
			.tv-bg-wrapper{
				width: 100%;
			}
			.tv-video-player{
				position: relative;
				left: auto;
				text-align: center;
			}
			.feature-group{
				.feature-item{
					width: 100%;
					margin-bottom: 5px;
				}
			}
		}
	}
}
@media (max-width: 655px){
	.ss_slideliner{
		.content.home{
			.diamond-outer{
				.diamond-shape{
					&:after,
					&:before{
						width:8px;
						-webkit-transform:rotate(3deg);
								transform:rotate(3deg);
					}
					&:before{
						left: -4px;
					}
					&:after{
						right: -4px;
					}
				}
			}
			.promotion-reminder{
				.pull-left{
					height: auto;
				}
				.reminder-slogan{
					float:none !important;
					margin-left: 0px;
					.diamond-outer{
						margin: 0px -10px;
					}
				}
				.reminder-slogan,
				.button{
					width: 100%;
				}
				.right-timer{
					margin-top: 10px;
					float: none !important;
					width: 100%;
				}
			}
		}
	}
}
@media (max-width:  580px){
.ss_slideliner{
		.content.home{
			h1.win-a-seat{
				font-size: 43px;
				display: block;
			}
			h2.your-view-experience{
				font-size: 17px;
			}
			h1.samsung-slideliner{
			 	font-size: 36px;
			 	sup.top-5{
			 		top:-6px; 
			 	}
			}	
		 	h2.it-is-for-you{
			 	font-size: 30px;
			}
			h3.plus-other{
			 	font-size: 17px;
			}
		}
	}
}
@media (max-width:  500px){
	.ss_slideliner
	{
		.content.home{
			.font-size-lg{
				font-size: 20px;
			}
			h1.win-a-seat{
				font-size: 43px;
			}
			h1.samsung-slideliner{
			 	font-size: 36px;
			}
			h2.your-view-experience{
				font-size: 17px;
			}
			h3{
				font-size: 18px;
			}
			h2.it-is-for-you{
			 	font-size:31px;
			}
			.slide-liner-container{
				margin-top: 53%;
				.sport-man-container{
					-webkit-transform:translate(60px, -40%) scale(0.4);
			 				transform:translate(60px, -40%) scale(0.4);
				}
			}
			.tv-bg{
				margin: 0px -25px;
			}
		}
	}
}

@media (max-width:  430px){
	.ss_slideliner
	{
		.content.home{
			.font-size-lg{
				font-size: 20px;
			}
			h1.win-a-seat{
				font-size: 37px;
			}
			h1.samsung-slideliner{
			 	font-size: 31px;
			}
			h3.plus-other{
				font-size: 15px;
			}
			h2.it-is-for-you{
			 	font-size:26px;
			}
			h2.your-view-experience{
				margin-top: -5px;
				font-size: 15px;
			}
			.slide-liner-container{
				margin-top: 57%;
				.sport-man-container{
					-webkit-transform:translate(60px, -40%) scale(0.4);
			 				transform:translate(60px, -40%) scale(0.4);
				}
			}
			.tv-bg{
				margin: 0px -25px;
			}
		}
	}
}

@media (max-width:  380px){
	.ss_slideliner{
		.content.home{
			h1.win-a-seat{
				font-size: 31px;
			}
			h1.samsung-slideliner{
			 	font-size: 26px;
			}	
			h2.your-view-experience{
				font-size: 15px;
			}
		 	h2.it-is-for-you{
			 	font-size: 27px;
			}
			h3.plus-other{
			 	font-size: 14px;
			}
			.slide-liner-container{
				margin-top: 160px;
				.sport-man-container{
					-webkit-transform:translate(60px, -38%) scale(0.3);
			 				transform:translate(60px, -38%) scale(0.3);
				}
			}
		}
	}
}
@media (max-width:  360px){
	.ss_slideliner{
		.content.home{
			.diamond-outer{
				.diamond-shape{
					&:after,
					&:before{
					 	display:none;
					}
				}
			}
			.promotion-reminder{
				.pull-left{
					height: auto;
				}
				.reminder-slogan{
					float:none !important;
					margin-left: 0px;
					.diamond-outer{
						margin: 0px -10px;
						.button{
							padding-top: 5px;
							padding-bottom: 5px;
						}
					}
				}
				.reminder-slogan,
				.button{
					width: 100%;
				}
				.right-timer{
					.day-hour-group{
						display: inline-block;
						.day-hour-group-inner{
							display: inline-block;
						}
					}
					.day-hour-group,
					.remaining{
						width: 100%;
						h3{
							height: auto;
							line-height: 100%;
							padding: 10px;
							font-size: 30px;
						}
					}
					text-align: center;
				}
			}
		}
	}
}
.ie9,
.ie8{
	.ss_slideliner{
		.content.home{
			.tv-video-player{
				.tv-player-foreground{
					padding-right: 10.6%;
				}
			}
		}
	}
}
html[data-useragent*='MSIE 10.0']{
	.ss_slideliner{
		.content.home{
			.tv-video-player{
				.tv-player-foreground{
					padding-right: 10.6%;
				}
			}
		}
	}
}