.ss_samsung .footer {
	font-size: 15px;
	font-size: 0.8rem;
}
.ss_samsung .footer .section{
	width: auto;
}
.ss_samsung .footer .bottom-spacer,
.ss_samsung .footer .bottom {
	background: #5c5c5c;
	width: 100% !important;
}
.ss_samsung .footer .section{
	width: 100% !important;
}
.ss_samsung{
	max-width: 100%;
}
.ss_slideliner.body .inner{
	float: none !important;
	padding: 0px !important;
}
.ss_slideliner input[type="checkbox"]{

	position: relative !important;
	top:auto !important;
	left: auto !important;
	width: auto !important;
	height: auto !important;
	visibility: visible !important;
			 
}
.ss_samsung .footer .flag-au{
	background-image:url("img/flag-au.jpg");
}
.nav h1 a{
	box-sizing:content-box;
}
header{
	.container{
		padding: 0px;
	}
}