$colorNavBlue:#092564;
$colorBTNBlue:#3065da;
$colorAccordion:#393939;
$colorAccordionHeadText:#737373;
$fontSize: 18px;

$slideContentPaddingLeft:350px;
$slideContentPaddingLeft-sm:300px;
$rotateDeg:6deg;
$controlPadding:10px;

$fontRegular:'samsung_interfaceregular';
$fontBold:'samsung_interfacebold';
$fontBlack:'samsung_interfaceblack';


$screen-sm:1200px;
$screen-xs:768px;
$header-xs:951px;
$mobileHeaderHeight:60px;
$mobileMenuTriggerWidth:15%;
$mobilePagePadding:15px;


$galleryViewThumbnailHeight_md:175px;
$galleryViewThumbnailHeight_sm:150px;
$galleryDetailThumbnailHeight_767:130px;
