<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ltr not-iframe static-header" style="">
<head>
<title>Samsung SlideLiner</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="Samsung, Samsung Slideliner, slideliner, Smart TV, LED TV, UHD TV, UHD, LED, #slideliner, rugby, union, rugby union, nathan sharpe, nathan sharp, win seats, win tickets, wallabies, all blacks, ANZ stadium, Pattersons stadium, Suncorp stadium, Sydney, Perth, Brisbane" />
<meta name="description" content="Win seats on the Samsung SlideLiner & see the Wallabies from the best seats in the house. You’ll also meet the Wallabies, lunch with legend Nathan Sharpe & heaps more. Plus there are hundreds of other prizes to be won.">
<meta name="title" content="Win seats on the Samsung SlideLiner" />
<meta name="date" content="2014-07-08" />
<meta name="sitecode" content="au" />

<meta property="og:site_name" content="Samsung SlideLiner" />
<meta property="og:locale" content="en_us" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://www.samsung.com.au/samsungslideliner/OGshare.jpg" />
<meta property="og:image:secure_url" content="https://www.samsung.com.au/samsungslideliner/OGshare.jpg" />
<meta property="og:title" content="Win seats on the Samsung SlideLiner" />
<meta property="og:url" content="https://www.samsung.com.au/samsungslideliner/" />
<meta property="og:description" content="Win seats on the Samsung SlideLiner & see the Wallabies from the best seats in the house. You’ll also meet the Wallabies, lunch with legend Nathan Sharpe & heaps more. Plus there are hundreds of other prizes to be won." />
<%= insert("../slides/inserts/_ss-script.html") %>
<link rel="stylesheet" type="text/css" href="js/venders/bootstrap-3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="js/venders/bootstrap-slider/css/slider.css"/>
<link rel="stylesheet" type="text/css" href="css/venders/font-awesome/css/font-awesome.min.css"/>
 
<link rel="stylesheet" type="text/css" href="css/app.css?v=<%=version%>"/>
<script type="text/javascript" data-main="js/app" src="js/venders/jquery/jquery-1.10.0.min.js"></script>
<script type="text/javascript">
	var siteUrl="<%=siteUrl%>";
	var locationUrl=location.href;
	if(locationUrl.indexOf("local")>-1){
		siteUrl="<%=siteUrl%>";
	}
	else{
		siteUrl=location.protocol+"//"+location.hostname+"/samsungslideliner";
	}
	var isIE8=false;
	var isOkToLive=true;
</script>
<!--[if lte IE 8]>
<script type="text/javascript" src="js/venders/response/response.js"></script>
<script type="text/javascript">
    isIE8=true;
	$("html").addClass("lte ie8");
</script>		
<![endif]-->
<!--[if lte IE 9]>
	$("html").addClass("lte ie9");
<![endif]-->
<!--<script type="text/javascript" src="js/venders/omniture/s_code_microsite.js"></script>-->

</head>

<body class="ss_samsung ss_slideliner body">
	<div class="body_wrapper">
		<%= insert("../slides/inserts/_ss-header.html") %>
		<div>

	    	<div class="top-container">
				<div class="navigation-small visible-xs">
					<div class="table">
						<div class="cell  mobile-button-container text-center">
							<div class="mobile-button">
								<i class="fa fa-bars"></i>
							</div>
						</div>
						<div class="cell">
							<div class="mobile-logo-container">
								<div class="mobile-logo">
									 <a href="#home"><img src="assets/images/logo-mobile.png"/></a>
									 
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slideliner-right-line"></div>
				<div class="navbar-outer out">
					<div class="navbar">
						<div class="wrapper lg-align-right xs-align-left">
							<div class="desktop-logo-container">
								<div class="logo">
									<a data-versa="http://www.samsung.com.au/samsungslideliner/" href="#home"><img src="assets/images/dummy.png"></a>
								</div>
							</div>
							<ul>
								 
							</ul>
							<div class="lg-align-right xs-align-left">
								<div class="share-group clearfix">
									<div class="share-icon facebook">
										<a data-omniture="facebook-samsungslideliner" data-versa="http://www.samsung.com.au/samsungslideliner/facebook" onclick="window.open(app.facebook_share_url,'','width=500,height=580')"><img src="assets/images/dummy.png"></a>
									</div>
									<div class="share-icon twitter">
										 <a onclick="window.open(app.twitter_share_url,'','width=500,height=580')"  data-versa="http://www.samsung.com.au/samsungslideliner/twitter"  data-omniture="twitter-samsungslideliner"><img src="assets/images/dummy.png"></a>
									</div>
								</div>
							</div>
							<div class="hash-tag font-white font-size-md font-italic text-uppercase">#SlideLiner</div>
							<div class="terms">
								<a href="<%=tncUrl%>" omniture-event-type="e"  data-omniture="terms-conditions" target="_blank">Terms & conditions</a>
								<a href="<%=privacyUrl%>" omniture-event-type="e" data-omniture="privacy-policy" target="_blank">Privacy policy</a>
							</div>
						</div>
					</div>
					<div class="line line-width-10"></div>
					<div class="line line-width-2"></div>
				</div>
				<div class="main-content-wrapper">
					<div class="main-content">
						  
					</div>
				</div>
			</div>
		 
			<textarea class="hide template-loader">
				<div class="loader">
					<div class="percent">
						<div class="inner font-size-xs"></div>
					</div>
				</div>
			</textarea>
        </div>
        <%= insert("../slides/inserts/_ss-footer.html") %>
	</div>
<textarea class="hide template template-social-feed-item photo">
    <div class="social-item loading">
        <div class="social-item-wrapper">
            <div class="profile">
                <div>   
                    <div class="profile-group">                             
                        <div class="profile-image valign-middle"></div>
                        <div class="user-name valign-middle">
                            <div class="screen-name"></div>
                        </div>
                    </div>
                    <div class="post-message"></div>
                    <div class="action-group">
                        <div class="share-cell">
                            <div class="action-row">
                                <a class="fb-share"><i class="fa fa-facebook-square"></i></a>
                                <a class="twitter-share"><i class="fa fa-twitter"></i> </a>
                                <a class="retweet"><img src="assets/images/dummy.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-container"></div>
        </div>
    </div>
</textarea>
<textarea class="hide template template-social-feed-item video">
    <div class="social-item loading">
        <div class="social-item-wrapper">
            <div class="profile">
                <div>   
                    <div class="profile-group">                             
                        <div class="profile-image valign-middle"></div>
                        <div class="user-name valign-middle">
                            <div class="screen-name"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-container"></div>
            <div class="post-message"></div>
            <div class="action-group">
                <div class="share-cell">
                    <div class="action-row">
                        <a class="fb-share"><i class="fa fa-facebook-square"></i></a>
                        <a class="twitter-share"><i class="fa fa-twitter"></i> </a>
                        <a class="retweet"><img src="assets/images/dummy.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</textarea>
 
<!--<script type="text/javascript">
var ss_pageName="home"
s.pageName="au:campaign:seau:<%=omitureName%>:"+ss_pageName;
s.hier1="au>campaign>seau><%=omitureName%>>"+ss_pageName;
s.channel="au:campaign";
s.prop1="au";
s.prop2="au:campaign";
s.prop3="au:campaign:seau";
s.prop4="au:campaign:seau:<%=omitureName%>";
s.prop5="au:campaign:seau:<%=omitureName%>:"+ss_pageName;

/************* LOCALIZE THE RSID AND DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//</script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//</script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
src="http://nmetrics.samsung.com/b/ss/sssamsung4au/1/H.25.5--NS/0"
height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.25.5. -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-43772087-7', 'auto');
  ga('send', 'pageview');
  
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43772087-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>
// INSTRUCTIONS
// The VersaTag code should be placed at the top of the <BODY> section of the HTML page.
// To ensure that the full page loads as a prerequisite for the VersaTag
// being activated (and the working mode is set to synchronous mode), place the tag at the bottom of the page. Note, however, that this may
// skew the data for slow-loading pages, and in general is not recommended.
// If the VersaTag code is configured to run in async mode, place the tag at the bottom of the page before the end of the <BODY > section.

//
// NOTE: You can test if the tags are working correctly before the campaign launches
// as follows:  Browse to http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=at, which is 
// a page that lets you set your local machine to 'testing' mode.  In this mode, when
// visiting a page that includes a VersaTag, a new window will open, showing you
// the tags activated by the VersaTag and the data sent by the VersaTag tag to the MediaMind servers.
//
// END of instructions (These instruction lines can be deleted from the actual HTML)

var versaTag = {};
versaTag.id = "283";
versaTag.sync = 0;
versaTag.dispType = "js";
versaTag.ptcl = "HTTPS";
versaTag.bsUrl = "bs.serving-sys.com/BurstingPipe";
//versaTag.mobile = 1;
//VersaTag activity parameters include all conversion parameters including custom parameters and Predefined parameters. Syntax: "ParamName1":"ParamValue1", "ParamName2":"ParamValue2". ParamValue can be empty.
versaTag.activityParams = {
//Custom parameters:
"DOB":""};
//Static retargeting tags parameters. Syntax: "TagID1":"ParamValue1", "TagID2":"ParamValue2". ParamValue can be empty.
versaTag.retargetParams = {};
//Dynamic retargeting tags parameters. Syntax: "TagID1":"ParamValue1", "TagID2":"ParamValue2". ParamValue can be empty.
versaTag.dynamicRetargetParams = {};
//Third party tags conditional parameters. Syntax: "TagID1":"ParamValue1", "TagID2":"ParamValue2". ParamValue can be empty.
versaTag.conditionalParams = {};
</script>
<script id="ebOneTagUrlId" src="https://secure-ds.serving-sys.com/SemiCachedScripts/ebOneTag.js"></script>
<noscript>
<iframe src="https://bs.serving-sys.com/BurstingPipe?
cn=ot&amp;
onetagid=283&amp;
ns=1&amp;
activityValues=$$
Value=[Value]&amp;
OrderID=[OrderID]&amp;
ProductID=[ProductID]&amp;
ProductInfo=[ProductInfo]&amp;
Quantity=[Quantity]&amp;$$&amp;
retargetingValues=$$&amp;
dynamicRetargetingValues=$$&amp;
acp=$$$$&amp;"
style="display:none;width:0px;height:0px"></iframe>
</noscript>
<script type="text/javascript">
window.sendVersaTag=function(url,isFromMenu){
	console.log(url);
	if(url)
	{
		if(isFromMenu === null ||  !isFromMenu)
		{
			var gaTag=url.replace("http://www.samsung.com.au/samsungslideliner/","");
			if(gaTag){
				gaTag=gaTag.replace(/\/+/g,"-");
				console.log(gaTag);
				_gaq.push(['_trackEvent', "button", 'Click', gaTag]);	
			}
		}
		if(typeof(versaTagObj)!=="undefined")
		{
			versaTagObj.generateRequest(url);
		}
		else
		{
			window.parent.postMessage(JSON.stringify({t:{type:"versa",url:url}}),"*");
		}
	}
	
};
</script>

<script type="text/javascript" src="js/venders/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/venders/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/venders/bootstrap-slider/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="js/venders/jscrollpane/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/venders/jquery-validation-1.12.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/app.js?v=<%=version%>"></script>

<script type="text/javascript">
	$.fn.HasScrollBar = function() {
	    //note: clientHeight= height of holder
	    //scrollHeight= we have content till this height
	    var _elm = $(this)[0];
	    var _hasScrollBar = false; 
	    if ((_elm.clientHeight < _elm.scrollHeight) || (_elm.clientWidth < _elm.scrollWidth)) {
	        _hasScrollBar = true;
	    }
	    return _hasScrollBar;
	};
	app.ui.versaTagStart($(document.body));
</script>
<script type="text/javascript" src="assets/js/waypoints.js"></script>
</body>
</html>