<link rel="stylesheet" type="text/css" href="js/venders/owl-carousel/owl.carousel.css"/>
<link rel="stylesheet" type="text/css" href="js/venders/owl-carousel/owl.theme.css"/>
<script type="text/javascript" src="js/venders/owl-carousel/owl.carousel.min.js"></script>
<div class="content gallery max-width">
    <div class="content-wrapper">
        <div class="heading">
            <h3 class="font-size-lg">Gallery</h3>

            <div class="heading-description margin margin-20 margin-top">
                <div>
                    <span>Catch all the white-knuckled action from three epic Wallaby Tests from the never-before-seen SlideLiner-view.</span>
                </div>
            </div>
        </div>
        <div class="gallery-item photo-gallery">
            <div class="vspacing vspacing-30">
                <h4 class="font-bold">Photo Gallery</h4>
                <div class="carousel">

                </div>
            </div>
        </div>

        <div class="gallery-item video-gallery">
            <div class="vspacing vspacing-30">
                <h4 class="font-bold">Video Gallery</h4>
                <div class="carousel"></div>
            </div>
        </div>
    </div>
     <%= insert("../slides/inserts/_footer.html") %>
</div>
<textarea class="hide template template-gallery-thumb">
    <div class="item">
        <div class="image-container-thumb">
            <div class="inner">
                <div class="image-container">
                    <div class="inner">
                        <a href="#"><img src=""></a>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="font-black title-container text-uppercase font-size-sm">
                     
                </div>
                <div class="hidden-xs">
                    <a href="#"><span class="location-container font-size-sm"></span></a>
                </div>
                <div class="action-row"><a href="#" class="text-uppercase font-size-sm font-bold">VIEW <span class="for-photo text-uppercase">photo</span>  <span class="for-video text-uppercase">video</span> ALBUM</a> <span class="font-bold counter"></span></div>
            </div>
        </div>
    </div>
</textarea>
<textarea class="hide template template-gallery-view">
    <%=insert("../slides/_gallery-view.html")%>
</textarea>
<script type="text/javascript">
    <%= insert("../js/app.gallerydata.js") %>

	app.gallery.start();
    app.ui.versaTagStart($(".content.gallery"));

</script>