<link rel="stylesheet" type="text/css" href="js/venders/owl-carousel/assets/owl.carousel.css"/>
<script type="text/javascript" src="js/venders/owl-carousel/owl.carousel.min.js"></script>
<div class="content gallery max-width">
    <div class="content-wrapper">
        <div class="background">
            
                <div class="heading padding padding-20 text-center">
                     <h1>Gallery</h1>
                     <h4 class="font-regular sub-heading font-italic">Catch all the white-knuckled action from three epic Wallaby Tests from the never-before-seen SlideLiner-view</h4>
                </div>
                <div class="background-wrapper">
                    <div class="social-feed-container-outer">
                        <div class="social-feed-container-wrapper">
                            <div class="social-feed-container clearfix">
                            </div>
                        </div>
                    </div>
                     <!--template move to index.html as it shared by home slide-->
                     
                </div>
        </div>
    </div>
     <%= insert("../slides/inserts/_footer.html") %>
</div>
<textarea class="hide template template-gallery-thumb">
     
</textarea>
<textarea class="hide template template-gallery-view">
     <%=insert("../slides/_gallery-view-new.html")%>
</textarea>
<textarea class="hide template template-gallery-item photo">
    <div class="gallery-item loading">
        <div class="gallery-item-wrapper">
            <div class="profile">
                <div class="profile-group">                             
                    <div class="profile-image valign-middle">
                        <i class="fa fa-camera"></i>
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <div class="valign-middle">
                        <div class="title">
                            
                        </div>
                    </div>
                </div>
                <div class="action-group">
                    <div class="share-cell">
                        <div class="action-row share-group">
                            <a class="fb-share"><i class="fa fa-facebook-square"></i></a>
                            <a class="twitter-share"><i class="fa fa-twitter"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-play">
                <i class="fa fa-play"></i>
            </div>
            <div class="media-container"></div>
        </div>
    </div>
</textarea>
<script type="text/javascript">
    <%= insert("../js/app.gallerydata.js") %>
</script>
<script type="text/javascript">
    app.gallerynew.start({
        container:$(".content.gallery .social-feed-container"),
        template :$(".template-gallery-item").val(),
        itemSelector:".content.gallery .social-feed-container .gallery-group-item",
        width:600
    });
</script>