<div class="gallery-view">
	<div class="pull-right">
        
	</div>
	<div class="vspacing vspacing-20 sm-vspacing-10">
		<div class="for-photo main-container">
			<div class="carousel">
				<div class="image-container">
					<div class="inner">
					</div>
				</div>
			</div>
		</div>
		<div class="info main-info">
			<div class="row vspacing xs-vspacing-10">
				<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 lg-align-left md-align-left sm-align-left xs-align-center">
					<div>
						<div><h5  class="title-container font-bold"></h5></div>
						<div><span  class="location-container"></span></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 lg-align-right md-align-right sm-align-right xs-align-center">					
					<div class="share-group clearfix">
						<a class="fb-share"><i class="fa fa-facebook-square"></i></a>
                        <a class="twitter-share"><i class="fa fa-twitter"></i> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>