<div class="content game max-width">
    <div class="content-wrapper">
        <div class="heading">
            <h3 class="font-size-lg">
                Where Can I see the SAMSUNG SLIDELINER?<sup>*</sup></h2>
                <div class="heading-description margin margin-20 margin-top">
                    <div>
                        <span>Samsung’s amazing Samsung SlideLiner is planned to run at three matches in the 2014 Rugby Championship, which includes two massive Bledisloe Cup games against the mighty All Blacks.</span>
                    </div>
                </div>
        </div>
        <div class="margin margin-10 margin-top">
            <div class="row">
                <div class="xs-align-center col-lg-12 col-md-12 col-sm-12 col-xs-12">If Samsung SlideLiner seating is not available, Samsung SlideLiner seating will be substituted for four (4) Category A tickets to the relevant match.
                </div>
            </div>
        </div>    
        <div class="games">
            <div class="row first-game">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 visible-xs">
                    <div class="building-bg anz-stadium"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="rectangle text-center">

                        <span>
                            <span class="font-black text-uppercase font-size-md line-height-100PCT">Wallabies<br />VS<br />All Blacks</span><br />
                            <span class="text-uppercase font-bold">16th August 2014</span><br />
                            <span>Sydney<br />ANZ Stadium</span>
                        </span>

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 hidden-xs">
                    <div class="building-bg anz-stadium"></div>
                </div>
            </div>
            <div class="row second-game">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <div class="building-bg play-ground"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="rectangle text-center">
                        <span>
                            <span class="font-black text-uppercase font-size-md line-height-100PCT">Wallabies<br />VS<br />Springboks</span><br />
                            <span class="text-uppercase font-bold">6th September 2014</span><br />
                            <span>Perth<br />Patersons Stadium</span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="row last-game">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 visible-xs">
                    <div class="building-bg play-ground-red"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="rectangle text-center">

                        <span>
                            <span class="font-black text-uppercase font-size-md line-height-100PCT">Wallabies<br />VS<br />All Blacks</span><br />
                            <span class="text-uppercase font-bold">18th October 2014</span><br />
                            <span>Brisbane<br />Suncorp Stadium</span>
                        </span>

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 hidden-xs">
                    <div class="building-bg play-ground-red"></div>
                </div>
            </div>
        </div>
        <div class="action-row xs-align-center hide">
            <a type="button" data-versa="http://www.samsung.com.au/samsungslideliner/schedule/enternow" class="button diamond-shape button-blue" href="#winseat">Enter now<i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="disclaimer xs-align-center">
            *Terms and Conditions apply. See page <a href="<%=tncUrl%>" class="word-break-all"  target="_blank"><%=tncUrl%></a> for full terms and conditions.
        </div>
       
        <script type="text/javascript">
			app.ui.versaTagStart($(".content.game"));
        </script>
    </div>
     <%= insert("../slides/inserts/_footer.html") %>
</div>
