<div class="content home max-width">
    <div class="content-wrapper">
        <div>
            <h2 class="font-size-lg it-is-for-you text-shadow">It’s on for you & 3 mates</h2>
            <h1 class="font-size-xlg win-a-seat text-shadow">win seats on the</h1>
            <h1 class="font-size-xlg samsung-slideliner text-shadow">Samsung SlideLiner</h1>
            <h3 class="plus-other text-shadow">Plus  hundreds  of  other prizes  to  be  won<sup class="top-5">*</sup></h3>
            <div class="margin margin-10 margin-top">
                <div class="row">
                    <div class="xs-align-center col-lg-6 col-md-8 col-sm-8 col-xs-12">If Samsung SlideLiner seating is not available, Samsung SlideLiner seating will be substituted for four (4) Category A tickets to the relevant match.
                    </div>
                </div>
            </div>    
        </div>

        <div class="hidden-xs">
            <a data-omniture="home_find_out_more" data-versa="http://www.samsung.com.au/samsungslideliner/findoutmore" class="button btn-white diamond-shape btn-lg font-black" href="#prizes">Find out more<i class="fa fa-chevron-right"></i></a>
        </div>
        <div>
            <div class="slide-liner-container">
                <div class="rail-image">
                    <div class="image-container">
                        <div class="inner">
                            <img src="assets/images/rail.png" alt="Samsung slide liner rail"/>
                        </div>
                    </div>
                </div>
                <div class="slide-liner-image">
                    <div class="image-container">
                        <div class="inner">
                            <img src="assets/images/slideliner_new.png" alt="Samsung slide liner"/>
                        </div>
                    </div>
                </div>
                <div class="sport-man-container">
                    <div class="image-container">
                        <div class="inner">
                            <img src="assets/images/sportman.png" alt="Sport man"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="visible-xs">
           <a data-omniture="home_find_out_more" data-versa="http://www.samsung.com.au/samsungslideliner/home/findoutmore" class="button btn-white diamond-shape btn-lg font-black" href="#prizes">Find out more<i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="bottom-container">
            <div class="feature-group">
                <div class="row no-margin table">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding cell feature-item watch-tvc">
                        <div class="play-the-video" data-versa="http://www.samsung.com.au/samsungslideliner/tvc">
                            <div class="image-container">
                                <div class="inner">
                                    <img src="assets/images/play-btn.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="start">
                               
                                <span class="text-uppercase title-text font-bold font-italic">Watch the tv commercial</span>
                            </div>
                            <div class="info-detail">
                                <span class="text-uppercase title-text font-bold font-italic">Watch the tv commercial</span>
                                <div class="description font-size-sm">
                                    Check out the Samsung SlideLiner TV commercial to find out how to win seats*.
                                </div>
                                <div>
                                    <a href="javascript:void(0)" class="play-video-link" data-versa="http://www.samsung.com.au/samsungslideliner/tvc">View now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding cell feature-item wireframe">
                        <div class="info">
                            <div class="start">
                                <span class="text-uppercase title-text font-bold  font-italic">What is the Samsung SlideLiner?</span>
                            </div>
                            <div class="info-detail">
                                <span class="text-uppercase title-text font-bold  font-italic">What is the Samsung SlideLiner?</span>
                                <div class="description font-size-sm">
                                    It’s the best seat in the house and it’s on rails. With a max speed of 20km/h and heaps of cool tech features, it will give you and 3 mates an amazing view of the game*.
                                </div>
                                <div>
                                    <a href="#slideliner" data-versa="http://www.samsung.com.au/samsungslideliner/whatsslideliner">Find out more</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding feature-item cell admit-four">
                        <div class="info">
                            <div class="start">
                                <span class="text-uppercase title-text font-bold  font-italic">How do I Enter? <sup class="font-size-xs">*</sup></span>
                            </div>
                            <div class="info-detail">
                                <span class="text-uppercase title-text font-bold  font-italic">How do I Enter? <sup class="font-size-xs">*</sup></span>
                                <div class="description font-size-sm">
                                    Simply purchase a new selected Samsung Smart TV from a participating stockist between 14 July 2014 and 30 September 2014 and upload a copy of your receipt for your chance to win the ultimate Samsung rugby experience for you and 3 mates.
                                </div>
                                <div>
                                    <a href="#winseat" data-versa="http://www.samsung.com.au/samsungslideliner/winseat">Enter now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding cell feature-item world-cup">
                        <div class="info">
                            <div class="start">
                                <span class="text-uppercase title-text font-bold  font-italic">Samsung SlideLiner Schedule</span>
                            </div>
                            <div class="info-detail">
                                <span class="text-uppercase title-text font-bold  font-italic">Samsung SlideLiner Schedule</span>
                                <div class="description font-size-sm">
                                    The Samsung SlideLiner is planned to make its match debut on 16th August when the Wallabies take on the All Blacks at Sydney’s ANZ Stadium. To find out the full schedule hit the button below.
                                </div>
                                <div>
                                    <a href="#game" data-versa="http://www.samsung.com.au/samsungslideliner/location">View Schedule</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="disclaimer xs-align-center">*Terms and Conditions apply. See page <a href="<%=tncUrl%>" class="word-break-all"  target="_blank"><%=tncUrl%></a> for full terms and conditions.</div>
       
    </div>
    <textarea class="hide template template-home-play-video">
        <div class="gallery-player video">
            <div class="home-video-player"></div>
        </div>
    </textarea>
     <%= insert("../slides/inserts/_footer.html") %>
</div>
<script type="text/javascript">

    var homeSlide = {
        onEnter: function (slide) {
            setTimeout(function(){slide.ui.div.find(".slide-liner-container").addClass("slide-in");},200);
        },
        onExit: function (slide) {
            slide.ui.div.find(".slide-liner-container").removeClass("slide-in");
        }

    };
    $(".content.home .play-the-video, .content.home .play-video-link").click(function(e){
        var messageObj={
            message:$(".content.home .template-home-play-video").val(),
            className:"black-no-footer with-border error home-video",
            title:"&nbsp",
            modalSize:"modal-lg",
            onHidden:function(){
                if(app.gallery.videoPlayer)
                {
                    app.gallery.videoPlayer.destroy();
                }
                app.gallery.videoPlayer=null;
            },
            onShown:function(modalUI){
                app.gallery.playerVideo({videoUrl:"Xwb1dbAFMKc"},modalUI.find(".home-video-player"));
            }
        }
        app.ui.modal(messageObj);
    });
    app.gallery.installYouTube();
    app.ui.versaTagStart($(".content.home"));
</script>