<div class="content prize max-width">
    <div class="content-wrapper">
        <div class="heading">
            <h3 class="font-size-lg">
                Prizes</h2>
                <div class="heading-description">
                    <div>
                        <span class="font-black font-size-md text-uppercase">Buy a selected <a href="#smarttv">Samsung smart tv</a> & you could win!<sup class="top-5">*</sup></span>
                    </div>
                </div>
        </div>
        <div class="border-outer">
            <div class="border border-1 border-bottom"></div>
        </div>
        <div class="prize-major">
            <div>
                <h4 class="font-black font-size-lg">
                    <span>Major Prize<sup class="top-20">*</sup></span>
                </h4>
            </div>
            <div id="prizeMajorPrize">
                <div class="prize-panel-body padding padding-20 sm-padding-20 padding-top-bottom-right">
                    <div class="vspacing vspacing-20 sm-vspacing-20">
                        <div>
                            Purchase a selected Samsung Smart TV between 14/07/14 and 30/09/14 <br class="hidden-sm hidden-xs"/>and enter the draw to win the ultimate Samsung Rugby experience including:
                        </div>
                        <div class="row table">
                            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12 cell valign-middle">
                                <ul class="arrow-style">
                                    <li>Seats for you & 3 mates on the Samsung SlideLiner at one of <br  class="hidden-sm hidden-xs"/>3 selected matches</li>
                                    <li>Lunch with Wallaby legend Nathan Sharpe</li>
                                    <li>A meet and greet with the Wallabies</li>
                                    <li>Stadium Tour</li>
                                    <li>Return flights</li>
                                    <li>Transfers to and from the airport & the match</li>
                                    <li>Accommodation in the host city</li>
                                </ul>
                                <div class="margin margin-10 margin-top display-inline">
                                <div class="row">
                                        <div class="xs-align-center col-lg-12 col-md-12 col-sm-12 col-xs-12">If Samsung SlideLiner seating is not available, Samsung SlideLiner seating will be substituted for four (4) Category A tickets to the relevant match.
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12 cell valign-middle xs-align-center">
                                <div class="slideliner-new-small">
                                    <div class="image-container">
                                        <div class="inner">
                                            <img src="assets/images/sportman-sideliner.png" alt="slide liner" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="border-outer">
            <div class="border border-1 border-bottom"></div>
        </div>
        <div class="prize-runner">
            <div>
                <h4 class="font-black font-size-lg">
                        <span>Runner-up prizes<sup class="top-20">*</sup></span>
                </h4>
            </div>
            <div id="prizeRunnerUpPrizes">
                <div class="prize-panel-body panel-body padding padding-20 sm-padding-20 padding-top-bottom-right">
                    <div class="vspacing vspacing-20 sm-vspacing-20">
                        <div>
                            If you miss out on a seat on the Samsung SlideLiner, you’re still in with a<br  class="hidden-sm hidden-xs"/>great chance of winning some amazing prizes, such as:
                        </div>
                        <div class="row table">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 cell valign-middle">
                                 <ul class="arrow-style">
                                    <li>1 of 75 double passes to the Wallabies vs All Blacks at ANZ Stadium, Sydney on 16/08/14^</li>
                                    <li>1 of 75 double passes to the Wallabies vs Springboks at Patersons Stadium, Perth on 06/09/14^</li>
                                    <li>1 of 75 double passes to the Wallabies vs All Blacks at Suncorp Stadium, Brisbane on 18/10/14^</li>
                                    <li>1 of 100 Official Wallabies jerseys</li>
                                    <li>1 of 1000 Gilbert Wallabies rugby balls</li>
                                </ul>
                                
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12 cell valign-middle xs-align-center">
                                <div class="runner-prize-img">
                                    <div class="image-container">
                                        <div class="inner">
                                            <img src="assets/images/runner-prize.png" alt="Runer up prize" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-outer">
            <div class="border border-1 border-bottom"></div>
        </div>
        <div class="action-row">
            <div class="table">
                <div class="cell btn-col xs-align-center hide">
                    <a data-versa="http://www.samsung.com.au/samsungslideliner/prizes/enternow" class="button btn-white diamond-shape btn-lg font-black" href="#winseat">Enter Now <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="cell disclaimer-col  xs-align-center">
                    <div class="disclaimer">*Terms and Conditions apply. See page <a href="<%=tncUrl%>" class="word-break-all"  target="_blank"><%=tncUrl%></a> for full terms and conditions.</div>
                    <span class="font-size-xs">^Flights and accommodation are not included for runner up double passes</span>
                </div>
            </div>
            
        </div>  
        <script type="text/javascript">
            $(".content.prize #prizeAccordion").on("show.bs.collapse", function (e) {
                e.stopPropagation();
            });
            app.ui.versaTagStart($(".content.prize"));
        </script>
    </div>
    <%= insert("../slides/inserts/_footer.html") %>
</div>