<div class="content slideliner max-width">
    <div class="content-wrapper">
        <div class="heading">
            <h3 class="font-size-lg">
                Samsung SlideLiner Transports Fans from the Sofa to the Side Line</h3>
            <div class="heading-description margin margin-20 margin-top">
                <span>The Samsung SlideLiner gave Australian Rugby fans a chance to win a money-can't-buy seat by the sideline. The structure is a four person 'couch' that sits on an 80 metre track beside the pitch, moving along the field of play to follow the game in real time.  With a purchase of a selected Samsung Smart TVs fans had the chance to win seats on the SlideLiner to catch the game from the best seat in the house. The Samsung SlideLiner was developed to bring a different experience to Rugby fans. Nothing gets you closer to the action.</span>
            </div>
        </div>
        <div class="text-center">
            <div class="spin-3d">
                <div class="spin-slider">
                    <div class="frames">
                        <div class="loader with-percent vertical-layout">
                            <div class="percent">
                                <div class="inner"></div>
                            </div>
                        </div>
                        <div class="feature-bubble">
                            <div class="point"></div>
                            <div class="line"></div>
                            <div class="diamond-shape info-container font-size-md"></div>
                        </div>
                    </div>
                    <div class="track-outer">
                        <div class="track diamond-shape">
                            <div class="inner"></div>
                        </div>
                    </div>
                    <div class="slide-the-bar-info font-bold font-size-md font-italic text-uppercase lg-align-left xs-align-center">Slide the bar to find out more<br><span class="font-size-xs">Images are simulated.</span></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var slidelinerSlide={

                onEnter:function(slide){
                    app.slideliner.onEnter(slide)
                },
                onExit:function(slide){
                    app.slideliner.onExit(slide);
                },
                onExitStart:function(slide){
                    app.slideliner.onExitStart(slide); 
                }
            }
            app.slideliner.start();
            app.ui.versaTagStart($(".content.slideliner"));
        </script>
    </div>
    <%= insert("../slides/inserts/_footer.html") %>
</div>
