<div class="content smarttv max-width">
    <div class="content-wrapper">
        <div class="heading">
            <h3 class="font-size-lg">Samsung Smart tvs</h3>
        </div>
        <div class="tvs">
            <div class="vspacing vspacing-20">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-col text-align-left xs-align-center">
                        <div class="tv-item">
                            <div class="vspacing vspacing-20">
                                 
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/curvedtv.png" alt="Samsung Curved TV" />
                                    </div>
                                </div>
                                <div>
                                    <h3 class="text-center">UHD^ LED~ CURVED TV</h3>
                                </div>
                                <div class="text-serials vspacing vspacing-20">
                                    <div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    Stunning colour : Samsung curved UHD^ LED~ TV can create a rich palette of colours through PurColour technology.
                                                </li>
                                                <li>
                                                    Upscaling : Samsung's Upscaling<sup>1</sup> feature is an image processing technology designed to convert some lower resolution video to video with an improved picture quality, so you can enjoy images from some DVD, Blu-ray™ and broadcast content on a UHD^ screen.
                                                </li>
                                                <li>
                                                   Soccer Mode<sup>2</sup> : Enjoy sound and picture settings designed to re-create the stadium experience, and let Auto Highlights select and save important moments of the big match to a connected hard drive.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center action-row">
                                    <a href="http://www.samsung.com/au/consumer/tv-audio-video/television/curved/" data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/curvedtv" class="button btn-white diamond-shape" target="_blank">Find out more <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center-col text-align-left xs-align-center">
                        <div class="tv-item">
                            <div class="vspacing vspacing-20">
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/UHDTV2.png" alt="Samsung UHD LED TV" />
                                    </div>
                                </div>                                 
                                <div>
                                    <h3 class="text-center">UHD^ LED~ TV</h3>
                                </div>
                                <div class="text-serials vspacing vspacing-20">
                                    <div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    Brilliant colour : Discover Samsung colour intensity with Colour Brilliance. Enjoy vibrant, onscreen action that seems to explode with amazing, rich palettes.
                                                </li>
                                                <li>
                                                    Upscaling : Samsung's Upscaling<sup>1</sup> feature is an image processing technology designed to convert some lower resolution video to video with an improved picture quality, so you can enjoy images from some DVD, Blu-ray™ and broadcast content on a UHD^ screen.
                                                </li>
                                                <li>
                                                    Future Ready<sup>3</sup> : TV technology evolves. With Future Ready, Samsung UHD^ LED~ TV may have the potential to help you keep pace with developing Samsung Smart TV and Smart Hub features.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                 <div class="text-center action-row">
                                    <a href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/" data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/uhdtv" class="button btn-white diamond-shape" target="_blank">Find out more <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-col text-align-right xs-align-center">
                        <div class="tv-item">
                            <div class="vspacing vspacing-20">
                                 
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/smarttv.png" alt="Samsung  Smart TV" />
                                    </div>
                                </div>
                                <div>
                                    <h3 class="text-center">SAMSUNG Smart TVs</h3>
                                </div>
                                 <div class="text-serials vspacing vspacing-20">
                                    <div>
                                        <div>
                                            <ul class="arrow-style">
                                               <li>
                                                     The Smart Hub<sup>4</sup> provides fast access to an exciting variety of entertainment content with organised panels of movies, apps, photos, and more, allowing for easy navigation.
                                                </li>
                                               <li>
                                                    Choose your engine : The powerful and nimble Quad Core processor is included in select 2014 Samsung LED~ Smart TVs.
                                                </li>
                                                <li>
                                                    One TV, many views : Play photos, video and music wirelessly from compatible devices to the big screen via Content Sharing<sup>5</sup>; get the display from your small screen onto the biggest screen in the house with Screen Mirroring, or use Smart View<sup>6</sup> to stream live TV or a movie from a connected Blu-ray™ player to a compatible mobile device in another room.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center action-row">
                                    <a href="http://samsung.com.au/tv/vision/issue1/html5/?page=17" data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/smarttv" class="button btn-white diamond-shape" target="_blank">Find out more <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group-outer">
            <div class="btn-group">
                <div class="btn-white diamond-shape">
                    <h1 class="font-size-lg">WHICH SAMSUNG TV IS RIGHT FOR ME?</h1>
                    <div>Use our Samsung TV Selector to find and compare Samsung Smart TV models.</div>
                </div>
                <div class="btn-purple-blue diamond-shape"><h2>

                    <a class="hidden-xs color-white" data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/tvselector" href="https://www.samsung.com.au/tv/selector/?SlideLiner" target="_blank">HELP ME CHOOSE<br/>A SAMSUNG TV</a> 
                    <a class="visible-xs color-white" data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/tvselector" href="https://www.samsung.com.au/tv-mobile/selector/?SlideLiner" target="_blank">HELP ME CHOOSE<br/>A SAMSUNG TV</a> 
                    <i class="fa fa-angle-right"></i></h2></div>
            </div>
        </div>  
        <div class="disclaimer">
            <strong>DISCLAIMERS:</strong>
<p>        
^ UHD: Actual resolution will depend on content. Limited UHD content currently available. Additional UHD compatible devices required to view UHD content.
</p>
<p> 
~ LED: Samsung LED TV’s utilise LCD screens with LED edge lights.
</p>
<p> 
1. Upscaling: Samsung UHD TV's use the latest Samsung up-scale technology to help improve picture quality of non-UHD content, although picture quality will not reach UHD quality. Picture quality of up-scaled content may vary depending on original broadcast quality or source type.
</p>
<p> 
2. Soccer Mode: Feature works on free to air channels only. Highlights feature requires an external hard drive (sold separately). Performance may vary depending on broadcast quality, stadium noise and presence of an on screen scoreboard. Changing channel will affect recording. Samsung takes copyright seriously. Only share content that you own or have the right to share. 
</p>
<p> 
3. Future Ready: One Connect Box included with HU9000 only, otherwise sold separately. Performance may vary depending on year of TV launch, model specifications, application availability and hardware limitations.
</p>
<p> 
4. Smart Hub 2014: Certain features require express consent for the collection and use of personal information. Some features may require additional accessories (sold separately). Certain features, apps and services may not be available on all models and in all regions and are subject to change without notice. Internet connection required. Data, subscription or other charges may apply. Certain features are available only on free to air channels and/or require a Samsung Apps account.
</p>
<p> 
5. Content sharing: To share content inside the home, other compatible DLNA products must be connected to the home network via Wi-Fi or Ethernet cable. Some products may require DLNA software to be installed. To store content on the cloud, Content sharing may require separate registration with the third-party service provider. Internet connection required. Data and subscription charges may apply. Usage is subject to service provider agreements. Content Sharing with cloud storage feature is only available on selected compatible Samsung devices. Samsung takes copyright seriously. Samsung’s features and applications are intended solely for private and domestic use. Any other use may be contrary to the law, including copyright law. Samsung does not authorise any use of its features and applications that infringe copyright or are otherwise contrary to law.
</p>
<p>
6. Smart View app available from Samsung Apps or Google Play. Certain functions may require firmware upgrades. Internet connection required to download app. Data, subscription or other charges may apply. Smart View app does not allow two different free to air channels to be viewed at once.  Smart View allows you to view two difference sources, for instance free to air and HDMI input. Compatible mobile device and Samsung Smart TV must be on same home Wi-Fi network or using WiFi Direct.  
</p>
        </div>
        <script type="text/javascript">
            app.ui.versaTagStart($(".content.smarttv"));
        </script>
    </div>
    <%= insert("../slides/inserts/_footer.html") %>
</div>