<div class="content winseat max-width">
	<div class="win-seat-how">
		<div class="vspacing vspacing-20">
			<div class="heading">
				<h3 class="font-size-lg">Win Seats</h2>
				<div class="heading-description margin margin-20 margin-top">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<span>Purchase a selected <a href="#" target="_blank">Samsung Smart TV</a> between 14/07/14 and 30/09/14 for your chance to win a day with Nathan Sharpe and watch a Wallabies match from the Samsung SlideLiner with 3 mates.</span>	
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="image-container">
								<div class="inner">
									<img src="assets/images/slideliner.png" alt="Slide liner">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="how-win-seat">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h4>How do i win a seat?</h4>
						<ol>
							<li><span>Purchase <a href="#" target="_blank">a selected Samsung Smart TV</a> between 14/07/14 and 30/09/14.</span></li>
							<li><span>Fill up the form below and upload your receipt to enter the draw.</span></li>
							<li><span>Winners will be drawn on 04/08/14, 25/08/14 and 07/10/14 at 9.00am and will be notified by email or mobile phone.</span></li>
							<li><span>Runners up will also be announced on the above dates and times and will be notified by email or mobile phone.</span></li>
						</ol>
					</div>	
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="image-container">
							<div class="inner">
								<img src="assets/images/tv.png" alt="Samsung smart tv"/>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<div>
		<div class="notes border border-blue">
			<div class="table info-row">
				<div class="cell icon-cell valign-middle">
					<div><i class="fa fa-info-circle font-size-lg"></i></div>
				</div>
				<div class="cell text-cell valign-middle">Please note that height and weight restrictions apply. Each person cannot exceed 150 kilograms in weight and each person must be between 150 centimetres (4 foot 9 inches) and 198 centimetres (6 foot 6 inches) in height.
				</div>
			</div>
		</div>
	</div>
	<div class="steps">
		<div class="panel-group" id="winTicketAccordion">
			<div class="panel panel-default step-one">
				    <div class="panel-heading">
				      <h4 class="panel-title font-size-md">
				        <a data-toggle="collapse" data-parent="#winTicketAccordion" href="#winSeatStepOne">
				        	<span class="font-bold">1</span>Enter your personal details
				        </a>
				      </h4>
				    </div>
				    <div id="winSeatStepOne" class="panel-collapse collapse">
				      <div class="panel-body">
				        <div>
				        	<form class="vspacing vspacing-20 padding padding-40  sm-padding-20 padding-top-bottom form-1"  formvalidation="common">
				        		<div class="row">
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>First name</label>
				        					<input type="text"  maxlength="50" name="data[Participant][fname]" validation="firstname" />
				        				</div>
				        			</div>
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>Surname</label>
				        					<input type="text"  maxlength="50" name="data[Participant][lname]" validation="surname"/>
				        				</div>
				        			</div>
				        		</div>
				        		<div class="row">
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>Email address</label>
				        					<input type="email" name="data[Participant][email]" maxlength="100" validation="email"/>
				        				</div>
				        			</div>
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>Phone number</label>
				        					<input type="text" name="data[Participant][phone]" maxlength="50" validation="phonenumber"/>
				        				</div>
				        			</div>
				        		</div>
				        		<div class="row">
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>State</label>
				        					<select validation="state" name="data[Participant][state]">
				        						<option value="">--Please select--</option>
				        						<option value="NSW">NSW</option>
				        						<option value="VIC">VIC</option>
				        						<option value="SA">SA</option>
				        						<option value="QLD">QLD</option>
				        						<option value="NT">NT</option>
				        						<option value="WA">WA</option>
				        						<option value="TAS">TAS</option>
				        					</select>
				        				</div>
				        			</div>
				        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				        				<div class="control-group">
				        					<label>Post code</label>
				        					<input type="text" validation="postcode" maxlength="4" name="data[Participant][postcode]"/>
				        				</div>
				        			</div>
				        		</div>
				        		<div class="action-row">
				        			<a type="button" form="form-1" next="step-two" class="button diamond-shape button-blue">Next</a>
				        		</div>
				        	</form>
				        </div>
				      </div>
				    </div>
			</div>
			<div class="panel panel-default step-two">
			    <div class="panel-heading">
			      <h4 class="panel-title font-size-md">
			        <a data-toggle="collapse" disabled data-parent="#winTicketAccordion" href="#winSeatStepTwo">
			          <span class="font-bold">2</span>Enter your Samsung purchase details
			        </a>
			      </h4>
			    </div>
			    <div id="winSeatStepTwo" dependto="winSeatStepOne" class="panel-collapse collapse">
			      <div class="panel-body">
			        	<form class="vspacing vspacing-20 padding padding-40 sm-padding-20 padding-top-bottom form-2" formvalidation="common">
			        		<div class="row">
			        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			        				<div class="control-group">
			        					<label>Product Serial Number</label>
			        					<input type="text" class="tick-text" depends="[name='data[Participant][backlog]']" name="data[Participant][serialNo]" maxlength="100" validation="serialnumber"/>
			        				</div>
			        			</div>
			        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			        				<div class="control-group">
			        					<label class="lg-dsp-inblock hidden-xs">&nbsp;</label>
			        					<div class="row">
			        						<div class="col-lg-1 col-md-2 col-sm-3 col-xs-12"><label>OR</label></div>
			        						<div class="col-lg-11 col-md-10  col-sm-9 col-xs-12"><label class="checkbox"><input name="data[Participant][backlog]" value="1" type="checkbox">Check this box if your is order is on Backlog and you have no serial number.<span class="font-size-xs">if checked, please keep your serial number after acquiring
											the participating product for verification</span>
											</label>
											</div>
			        					</div>
			        					 
			        				</div>
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			        				<div class="control-group">
			        					<label>Product purchased</label>
			        					<input type="text" maxlength="100" name="data[Participant][product]" validation="productpurchased" />
			        				</div>
			        			</div>
			        			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			        				<div class="control-group">
			        					<label>Date Product Purchased</label>
			        					<div class="date-picker">
											<select validation="selectmonth" name="data[Participant][purchaseDate][month]">
												<option value="">--</option>
												<option value="01">January</option>
												<option value="02">February</option>
												<option value="03">March</option>
												<option value="04">April</option>
												<option value="05">May</option>
												<option value="06">June</option>
												<option value="07">July</option>
												<option value="08">August</option>
												<option value="09">September</option>
												<option value="10">October</option>
												<option value="11">November</option>
												<option value="12">December</option>
											</select><span>/</span>
											<select validation="selectday" name="data[Participant][purchaseDate][day]">
												<option value="">--</option>
												<option value="01">1</option>
												<option value="02">2</option>
												<option value="03">3</option>
												<option value="04">4</option>
												<option value="05">5</option>
												<option value="06">6</option>
												<option value="07">7</option>
												<option value="08">8</option>
												<option value="09">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
											</select><span>/</span>
											<select validation="selectyear" name="data[Participant][purchaseDate][year]">
												<option value="">--</option>
												<option value="2014">2014</option>
												<option value="2013">2013</option>
												<option value="2012">2012</option>
												<option value="2011">2011</option>
												<option value="2010">2010</option>
												<option value="2009">2009</option>
												<option value="2008">2008</option>
												<option value="2007">2007</option>
												<option value="2006">2006</option>
												<option value="2005">2005</option>
												<option value="2004">2004</option>
												<option value="2003">2003</option>
												<option value="2002">2002</option>
												<option value="2001">2001</option>
												<option value="2000">2000</option>
												<option value="1999">1999</option>
												<option value="1998">1998</option>
												<option value="1997">1997</option>
												<option value="1996">1996</option>
												<option value="1995">1995</option>
												<option value="1994">1994</option>
											</select>
										</div>
										<div class="data-picker-error-container">
											<div errorcontainerfor="data[Participant][purchaseDate][month]"></div>
											<div errorcontainerfor="data[Participant][purchaseDate][day]"></div>
											<div errorcontainerfor="data[Participant][purchaseDate][year]"></div>
										</div>
			        				</div>
			        			</div>
			        		</div>
			        		<div>
			        			<div>
			        				<div class="control-group">
			        					<label>Provide smart tv sales receipt</label>
			        				</div>
			        				<div>
			        					<div class="hidden">
			        						<input type="checkbox" value="1" checked name="data[Participant][send_txt]"/>
			        					</div>
			        					<ul class="nav nav-tabs">
										  <li class="active" value="1"><a href="#sendAsTxtMessage" class="button btn-grey radius radius-5" data-toggle="tab">Send via txt message</a></li>
										  <li  value="0"><a class="button btn-grey radius radius-5" href="#uploadReceipt" data-toggle="tab">Upload an image</a></li>
										</ul>
										<div class="tab-content  padding padding-20">
										  <div class="tab-pane active" id="sendAsTxtMessage">
										  		<div class="step step-1 show vspacing vspacing-10">
										  			<span class="font-strong"><strong>Upload via Text Message</strong></span>
										  			<span class="icon-span"><i class="fa fa-info-circle"></i>On submission of this form you will receive a text message requesting a photo of your receipt. Reply to the message and attach a clear photo of your sales receipt.</span>
										  			<div>
										  				<strong>Message will be sende to: 0404 444 444</strong><a href="#" class="font-normal"> (change)</a> 
										  			</div>
										  			<button type="button" class="button btn-grey">Confirm</button>
										  		</div>
										  		<div class="step step-2 hide vspacing vspacing-10">
										  			<span class="icon-span"><i class="fa fa-info-circle"></i> Mobile phone number confirmed</span>
										  			<p>
										  				Thank you, a txt message will be sent to this number on submission of this form.
										  			</p>
										  			<div>
										  				<strong>Mobile phone number: 0404 444 444</strong>
										  			</div>
										  		</div>
										  </div>
										  <div class="tab-pane" id="uploadReceipt">
										  		<div class="step step-1 show vspacing vspacing-10">
										  			<strong>Upload an image</strong>
										  			<p>
										  				Max file size 10mb(pdf,jpg,bmp)
										  			</p>
										  			<div>

										  				<div class="upload-wrapper clearfix">
															<div class="attach-button">
																<div class="wrapper"><input depends="input[name='data[Participant][send_txt]']"  name="data[Participant][receiptCopy]" validation="fileinput" type="file" accept='image/jpeg,image/jpg,image/bmp,image/png,image/gif,application/pdf'/></div>
																Attach
															</div>
														</div>
														<div errorcontainerfor="data[Participant][receiptCopy]" style="margin-left:6px;"></div>
										  			</div>
										  		</div>
										  		<div class="step step-2 hide vspacing vspacing-10">
										  				
										  		</div>
										  </div>
										</div>
										<div></div>
			        				</div>
			        			</div>
			        		</div>
			        		<div class="action-row">
			        			<a type="button" form="form-2" next="step-three" class="button diamond-shape button-blue">Next</a>
			        		</div>
			        	</form>
			      </div>
			    </div>
			</div>
			<div class="panel panel-default step-three">
			    <div class="panel-heading">
				      <h4 class="panel-title font-size-md">
				        <a data-toggle="collapse"  disabled data-parent="#winTicketAccordion" href="#winSeatStepThree">
				          <span class="font-bold">3</span>Submit your entry
				        </a>
				      </h4>
				    </div>
				    <div id="winSeatStepThree" dependto="winSeatStepTwo" class="panel-collapse collapse">
				      <div class="panel-body">
				         <form class="vspacing vspacing-20 padding padding-40  sm-padding-20 padding-top-bottom form-3" formvalidation="common">
				         	<div>
				         		<label class="checkbox"><input name="data[Participant][optIn]" type="checkbox">Sign-up for updates and tips on New Products, How-tos and Special Offers from Samsung. Please read our <a href="#" target="_blank">Privacy Policy</a>.</label>
				         	</div>
				         	<div>
				         		<label class="checkbox"><input validation="termcondition" name="data[Participant][tnc]"  value="1" type="checkbox">Agree to <a href="#" target="_blank">Terms & Conditions</a>.</label>
				         		<div errorcontainerfor="data[Participant][tnc]"></div>
				         	</div>
				         	<div class="action-row">
				         		<input type="hidden" name="data[Participant][uploadType]" value="iframe"/>
							 	<iframe src="win-seat-upload.html" name="upload-iframe" frameborder="0" width="0" height="0"></iframe>
			        			<a type="button" form="form-3" class="button diamond-shape button-blue">Submit<i class="fa fa-chevron-right"></i></a>
			        		</div>
				         </form>
				      </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	app.winseat.start();
</script>