<div class="content winseat max-width">
    <div class="content-wrapper">
        <div class="win-seat-how">
            <div class="vspacing vspacing-20 vspacing-xs-10">
                <div class="heading">
                    <h3 class="font-size-lg">Win Seats<sup>*</sup></h3>
                    <div class="heading-description margin margin-20 margin-top">
                        <div class="row vspacing xs-vspacing-10">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 visible-xs text-center">
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/slideliner-new-small.png" alt="Slide liner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <span>Purchase a selected <a href="#" ss-data-url="slides/partials/_participating-tv.html">Samsung Smart TV</a> between 14/07/14 and 30/09/14 for your chance to win a lunch with Nathan Sharpe and watch a Wallabies match from the Samsung SlideLiner with 3 mates.</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/slideliner-new-small.png" alt="Slide liner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">If Samsung SlideLiner seating is not available, Samsung SlideLiner seating will be substituted for four (4) Category A tickets to the relevant match.
                        </div>
                    </div>
                </div> 
                <div class="how-win-seat">
                    <div class="row vspacing xs-vspacing-10">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 visible-xs text-center">
                            <div class="image-container">
                                <div class="inner">
                                    <img src="assets/images/tv.png" alt="Samsung smart tv" />
                                    <div  class="font-size-sm text-center">
                                        Screen image simulated.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <h4>How do i win a seat?<sup>*</sup></h4>
                            <ol>
                                <li><span>Purchase <a href="#" ss-data-url="slides/partials/_participating-tv.html">a selected Samsung Smart TV</a> between 14/07/14 and 30/09/14.</span></li>
                                <li><span>Fill out the form below and upload a scan of your receipt to enter the draw.</span></li>
                                <li><span>Winners will be drawn on 04/08/14, 25/08/14 and 07/10/14 at 11:00am (AEST) and will be notified by email within two (2) business days of the draw.</span></li>
                                <!--<li><span>Runners up will also be announced on the above dates and times and will be notified by email or mobile phone.</span></li>-->
                            </ol>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                            <div class="image-container">
                                <div class="inner">
                                    <img src="assets/images/tv.png" alt="Samsung smart tv" />
                                    <div class="font-size-sm text-center">
                                        Screen image simulated.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="notes">
                <div class="table info-row  border  border-blue border-1">
                    <div class="cell icon-cell valign-middle">
                        <div><i class="fa fa-info-circle font-size-lg"></i></div>
                    </div>
                    <div class="cell text-cell valign-middle col-xs-12">
                        Please note that height and weight restrictions apply. Each person cannot exceed 150 kilograms in weight and each person must be between 150 centimetres (4 foot 11 inches) and 198.12 centimetres (6 foot 6 inches) in height.
                    </div>
                </div>
            </div>
        </div>
        <h3 class="font-size-lg visible-xs">Registration form</h3>
        <div class="steps">
            <div class="panel-group" id="winTicketAccordion">
                <div class="panel panel-default step-one">
                    <div class="panel-heading">
                        <h4 class="panel-title font-size-md">
                            <a  versa="http://www.samsung.com.au/samsungslideliner/enternow/step1" data-toggle="collapse" data-parent="#winTicketAccordion" href="#winSeatStepOne">
                                <span class="font-bold">1</span>Enter your personal details
                            </a>
                        </h4>
                    </div>
                    <div id="winSeatStepOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <form class="vspacing vspacing-20 padding padding-40  sm-padding-20 padding-top-bottom form-1" formvalidation="common">
                                    <div class="row vspacing xs-vspacing-10">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>First name</label>
                                                <input type="text" maxlength="50" name="data[Participant][fname]" validation="firstname" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>Surname</label>
                                                <input type="text" maxlength="50" name="data[Participant][lname]" validation="surname" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row vspacing xs-vspacing-10">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>Email address</label>
                                                <input type="email" name="data[Participant][email]" maxlength="100" validation="email" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>Phone number</label>
                                                <input type="text" name="data[Participant][phone]" maxlength="50" validation="phonenumber" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row vspacing xs-vspacing-10">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>Address</label>
                                                <input type="text" maxlength="150" name="data[Participant][address]" validation="address" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                             <div class="control-group">
                                                <label>Suburb</label>
                                                <input type="text" maxlength="50" name="data[Participant][suburb]" validation="suburb" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row vspacing xs-vspacing-10">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>Post code</label>
                                                <input type="text" validation="postcode" maxlength="4" name="data[Participant][postcode]" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="control-group">
                                                <label>State</label>
                                                <select validation="state" name="data[Participant][state]">
                                                    <option value="">--Please select--</option>
                                                    <option value="NSW">NSW</option>
                                                    <option value="ACT">ACT</option>
                                                    <option value="VIC">VIC</option>
                                                    <option value="SA">SA</option>
                                                    <option value="QLD">QLD</option>
                                                    <option value="NT">NT</option>
                                                    <option value="WA">WA</option>
                                                    <option value="TAS">TAS</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="action-row">
                                        <a data-versa-once="true" data-versa="http://www.samsung.com.au/samsungslideliner/enternow/step1/button" form="form-1" next="step-two" class="button diamond-shape button-blue">Next</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default step-two">
                    <div class="panel-heading">
                        <h4 class="panel-title font-size-md">
                            <a   data-toggle="collapse" versa="http://www.samsung.com.au/samsungslideliner/enternow/step2/" disabled data-parent="#winTicketAccordion" href="#winSeatStepTwo">
                                <span class="font-bold">2</span>Enter your purchase details
                            </a>
                        </h4>
                    </div>
                    <div id="winSeatStepTwo" dependto="winSeatStepOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="vspacing vspacing-20 padding padding-40 sm-padding-20 padding-top-bottom form-2" formvalidation="common">
                                <div class="row vspacing xs-vspacing-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="control-group">
                                            <label>Product Serial Number</label>
                                            <input type="text" class="tick-text" depends="[name='data[Participant][backlog]']" name="data[Participant][serialNo]" maxlength="15" validation="serialnumber" />
                                            <div style="height:15px; margin-top:3px;" class="xs-align-center">
                                                <a data-toggle="popover" class="where-is-serial" data-content="And here's some amazing content. It's very engaging. Right?" href="javascript:void(0)">Where is my serial number?</a>
                                            </div>
                                            <div errorcontainerfor="data[Participant][serialNo]"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="control-group">
                                            <label class="lg-dsp-inblock hidden-xs">&nbsp;</label>
                                            <div class="row">
                                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-12"><label>OR</label></div>
                                                <div class="col-lg-11 col-md-10  col-sm-9 col-xs-12">
                                                    <label class="checkbox">
                                                        <input name="data[Participant][backlog]" value="1" type="checkbox">Check this box if your order is on Backlog and you have no serial number.<br/><span class="font-size-xs">
                                                            if checked, please keep your serial number after acquiring
                                                            the participating product for verification
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row vspacing xs-vspacing-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="control-group">
                                            <label>Product purchased</label>
                                            <select validation="productpurchased"  name="data[Participant][product]">
                                                <option value="">-----</option>
                                                <option value='Series 9 78" HU9000 UHD LED TV'>Series 9 78" HU9000 UHD LED TV</option>
                                                <option value='Series 9 65" HU9000 UHD LED TV'>Series 9 65" HU9000 UHD LED TV</option>
                                                <option value='Series 9 55" HU9000 UHD LED TV'>Series 9 55" HU9000 UHD LED TV</option>
                                                <option value='Series 8 65" HU8500 UHD LED TV'>Series 8 65" HU8500 UHD LED TV</option>
                                                <option value='Series 8 55" HU8500 UHD LED TV'>Series 8 55" HU8500 UHD LED TV</option>
                                                <option value='Series 8 48" HU8500 UHD LED TV'>Series 8 48" HU8500 UHD LED TV</option>
                                                <option value='Series 7 55" HU7000 UHD LED TV'>Series 7 55" HU7000 UHD LED TV</option>
                                                <option value='Series 7 50" HU7000 UHD LED TV'>Series 7 50" HU7000 UHD LED TV</option>

                                                <option value='Series 8 65" H8000 LED TV'>Series 8 65" H8000 LED TV</option>
                                                <option value='Series 8 55" H8000 LED TV'>Series 8 55" H8000 LED TV</option>
                                                <option value='Series 7 75" H7000 LED TV'>Series 7 75" H7000 LED TV</option>
                                                <option value='Series 7 60" H7000 LED TV'>Series 7 60" H7000 LED TV</option>
                                                <option value='Series 7 55" H7000 LED TV'>Series 7 55" H7000 LED TV</option>
                                                <option value='Series 6 65" H6400 LED TV'>Series 6 65" H6400 LED TV</option>
                                                <option value='Series 6 60" H6400 LED TV'>Series 6 60" H6400 LED TV</option>
                                                <option value='Series 6 60" H6300 LED TV'>Series 6 60" H6300 LED TV</option>
                                                <option value='Series 6 55" H6500 LED TV'>Series 6 55" H6500 LED TV</option>
                                                <option value='Series 6 55" H6400 LED TV'>Series 6 55" H6400 LED TV</option>
                                                <option value='Series 6 55" H6300 LED TV'>Series 6 55" H6300 LED TV</option>
                                                <option value='Series 6 48" H6500 LED TV'>Series 6 48" H6500 LED TV</option>
                                                <option value='Series 6 48" H6400 LED TV'>Series 6 48" H6400 LED TV</option>
                                                <option value='Series 6 48" H6300 LED TV'>Series 6 48" H6300 LED TV</option>
                                               
                                            </select>
                                            <div errorcontainerfor="data[Participant][product]"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="control-group">
                                            <label>Date Product Purchased</label>
                                            <div class="date-picker">
                                                <select validation="selectmonth" class="select-month" name="data[Participant][purchaseDate][month]">
                                                    <option value="">--</option>
                                                    <!--
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                -->
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                   <!-- <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>-->
                                                </select><span>/</span>
                                                <select validation="selectday" class="select-day" name="data[Participant][purchaseDate][day]">
                                                    <option value="">--</option>
                                                    <option value="01">1</option>
                                                    <option value="02">2</option>
                                                    <option value="03">3</option>
                                                    <option value="04">4</option>
                                                    <option value="05">5</option>
                                                    <option value="06">6</option>
                                                    <option value="07">7</option>
                                                    <option value="08">8</option>
                                                    <option value="09">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select><span>/</span>
                                                <select validation="selectyear" class="select-year" name="data[Participant][purchaseDate][year]">
                                                    <option value="">--</option>
                                                    <option value="2014" selected>2014</option>
                                                </select>
                                            </div>
                                            <div class="data-picker-error-container">
                                                <div errorcontainerfor="data[Participant][purchaseDate][month]"></div>
                                                <div errorcontainerfor="data[Participant][purchaseDate][day]"></div>
                                                <div errorcontainerfor="data[Participant][purchaseDate][year]"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row vspacing xs-vspacing-10">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="control-group">
                                            <label>Provide Samsung purchase receipt  <p class="font-regular font-size-xs">upload a scanned copy (pdf, jpg, bmp, png)</p></label>
                                            <div>
                                                <div class="upload-wrapper clearfix">
                                                    <div class="text-container">
                                                        <input class="file-display" readonly type="text" />
                                                    </div>
                                                    <div class="attach-button">
                                                        <div class="wrapper"><input name="data[Participant][receiptCopy]" validation="fileinput" type="file" accept='image/jpeg,image/jpg,image/bmp,image/png,image/gif,application/pdf' /></div>
                                                        Attach
                                                    </div>
                                                </div>
                                                <div errorcontainerfor="data[Participant][receiptCopy]" style="margin-left:6px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action-row">
                                    <a  form="form-2" data-versa-once="true" data-versa="http://www.samsung.com.au/samsungslideliner/enternow/step2/button" next="step-three" class="button diamond-shape button-blue">Next</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default step-three">
                    <div class="panel-heading">
                        <h4 class="panel-title font-size-md">
                            <a data-toggle="collapse" versa="http://www.samsung.com.au/samsungslideliner/enternow/step3"  disabled data-parent="#winTicketAccordion" href="#winSeatStepThree">
                                <span class="font-bold">3</span>Submit your entry
                            </a>
                        </h4>
                    </div>
                    <div id="winSeatStepThree" dependto="winSeatStepTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="padding padding-40  sm-padding-20 padding-top-bottom form-3" formvalidation="common">
                                <div>
                                    <label class="checkbox"><input name="data[Participant][optIn]" type="checkbox">  I would like to receive offers and information on the latest product releases and innovations from Samsung. Please read our <a href="<%=privacyUrl%>" target="_blank">Privacy Policy</a> here.</label>
                                </div>
                                <div>
                                    <label class="checkbox"><input validation="termcondition" name="data[Participant][tnc]" value="1" type="checkbox">Agree to <a href="<%=tncUrl%>" class="word-break-all"  target="_blank">Terms & Conditions</a>.</label>
                                    <div errorcontainerfor="data[Participant][tnc]"></div>
                                </div>
                                <div class="action-row">
                                    <input type="hidden" name="data[Participant][uploadType]" value="iframe" />
                                    <iframe src="win-seat-upload.html" name="upload-iframe" frameborder="0" width="0" height="0"></iframe>
                                    <a data-versa-once="true" data-versa="http://www.samsung.com.au/samsungslideliner/enternow/step3/button" type="button" form="form-3" class="button diamond-shape button-blue">Submit<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="disclaimer xs-align-center">
           *Terms and Conditions apply. See page <a href="<%=tncUrl%>" class="word-break-all"  target="_blank"><%=tncUrl%></a> for full terms and conditions.
        </div>        
        <textarea class="hide template template-entry-success">
            <div class="border border-8 border-light-blue padding padding-20 text-center">
                <p class="font-bold font-size-md">Thanks for your entry.</p>
                <p>Good luck in the draw!<br />Share this with your mates!</p>
                <div>
                    <div class="button button-blue diamond-shape share-on-facebook">
                        <div class="icon-facebook diamond-shape"><i class="fa fa-facebook"></i></div>
                        <a data-omniture="facebook-samsungslideliner-winseat" data-versa="http://www.samsung.com.au/samsungslideliner/enternow/facebook" onclick="window.open(app.facebook_share_url,'','width=500,height=580')">Share on facebook <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div>
                    <div data-omniture="twitter-samsungslideliner-winseat" class="button button-blue diamond-shape share-on-facebook">
                        <div class="icon-facebook diamond-shape"><i class="fa fa-twitter"></i></div>
                        <a data-versa="http://www.samsung.com.au/samsungslideliner/enternow/twitter" data-url="<%=twitterShareUrl%>" onclick="window.open(app.twitter_share_url,'','width=500,height=580')">Share on twitter <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <p>
                    <a href="#" class="enter-new-receipt">Enter  another receipt <i class="fa fa-angle-right"></i></a>
                </p>
                <p>
                    if you have any queries, please contact us at<br>
                    <a href="mailto:support@samsungslideliner.com.au">support@samsungslideliner.com.au</a>
                </p>
                <div class="samsung-sound-product text-align-center">
                     
                    <div class="row table border border-1 border-white">
                        <div class="cell col-lg-3 col-md-3 col-sm-3 col-xs-12 valign-middle">
                            <div class="diamond-shape">
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/samsung-speaker.jpg" alt="Samsung Sound audio range">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell col-lg-9 col-md-9 col-sm-9 col-xs-12 valign-middle">
                            <div class="brief-container font-italic">
                                <div class="vspacing vspacing-20">
                                    <div>Click here to view the Samsung Sound audio range 
                                    including the new wireless multi-room speaker
                                    </div>
                                    <div>
                                        <a target="_blank" class="border text-uppercase border-1 border-white color-white" href="http://www.samsung.com/au/consumer/tv-audio-video/multiroom">View range</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </textarea>
        <textarea class="hide template template-where-is-serial">
            <div class="popover" role="tooltip">
                <div class="arrow"></div>
                <div class="padding padding-10">
                     <div>
                        <div class="image-container">
                            <div class="inner">
                                <img src="assets/images/where-is-serial.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </textarea>
    </div>
    <%= insert("../slides/inserts/_footer.html") %>
</div>
<script type="text/javascript">
    app.winseat.start();
</script>