<!--#include virtual="/au/next/html/static/static_header1.html"-->

<title>Samsung SlideLiner</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="keywords" content="Samsung, Samsung Slideliner, slideliner, Smart TV, LED TV, UHD TV, UHD, LED, #slideliner, #slideliner, rugby, union, rugby union, nathan sharpe, nathan sharp, win seats, win tickets, wallabies, all blacks, ANZ stadium, Pattersons stadium, Suncorp stadium, Sydney, Perth, Brisbane" />
<meta name="description" content="Win seats on the Samsung SlideLiner & see the Wallabies from the best seats in the house. You’ll also meet the Wallabies, lunch with legend Nathan Sharpe & heaps more. Plus there are hundreds of other prizes to be won.">
<meta name="title" content="Win seats on the Samsung SlideLiner" />
<meta name="date" content="2014-07-08" />
<meta name="sitecode" content="au" />

<meta property="og:site_name" content="Samsung SlideLiner" />
<meta property="og:locale" content="en_us" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://www.samsung.com.au/samsungslideliner/OGshare.png" />
<meta property="og:title" content="Win seats on the Samsung SlideLiner" />
<meta property="og:url" content="http://www.samsung.com/au/samsungslideliner/" />
<meta property="og:description" content="Win seats on the Samsung SlideLiner & see the Wallabies from the best seats in the house. You’ll also meet the Wallabies, lunch with legend Nathan Sharpe & heaps more. Plus there are hundreds of other prizes to be won." />
<%=jqueryUrl%>
<script language="JavaScript" type="text/javascript" src="../Landing page/IFRAME4/s_code_microsite_s.com.js"></script>
</head>
<body class="ss_samsung" style="margin:0px;">
	<!--#include virtual="/au/next/html/static/static_header2.html"-->

	<!-- Contents -->
	<div>
		<div align="center">
			<iframe  id="iframe_samsung_slideliner" width="100%" scrolling="no" frameborder="0" align="middle"></iframe>
		</div>
	</div>

	<script type="text/javascript">
		var iframeUrl="<%=iframeUrl%>";
		$(document).ready(function(e){
			var hash=document.location.hash;
			var newUrl=iframeUrl;
			if(hash){
				newUrl=iframeUrl+hash;
			}
			$("#iframe_samsung_slideliner").attr({src:newUrl});
			window.onmessaging=function(e){
				var  data=null;
				if(e && e.data){
					data=e.data;
				}
				else if(window.event){
					data=window.event.data;
				}
				if(data){
					var obj=$.parseJSON(data);
					if(obj.t && obj.t.type)
					{
						switch(obj.t.type)
						{
							case "versa":
								if(typeof(versaTagObj)!=="undefined")
								{
									versaTagObj.generateRequest(obj.t.url);
								}
								break;
							case "height":
								document.title=$("#iframe_samsung_slideliner").attr("src");
								$("#iframe_samsung_slideliner").attr({height:obj.t.height});
								break;
							case "hashchange":
								window.location.hash=obj.t.hash;
								break;
						}			 	
					}
				}
			}
			$(window).bind("message",function (e) {
				window.onmessaging(e.originalEvent);
			});
		});
	</script>
	<!-- //Content -->

<!--#include virtual="/au/next/html/static/static_footer.html"-->