<div class="heading vspacing vspacing-20">
	<div class="tv-serial-container">
		 
        <div class="vspacing vspacing-20">
            <div>
                <h3>Samsung slideliner participating models</h3>
                <div>To enter this promotion you are required to purchase one of the below participating models:</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 text-center">
                    <div class="tv-item">
                            <div class="vspacing vspacing-20">
                                <!--
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/uhdtv.png" alt="Samsung UHDTV" />
                                    </div>
                                </div>
                                <div  class="font-size-sm text-center">
                                    Screen image simulated.
                                </div>
                                -->
                                <div>
                                    <h3 class="text-center">UHD<sup>^</sup> LED<sup>~</sup> TV</h3>
                                </div>
                                <div class="text-serials vspacing vspacing-20">
                                    <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 9</div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    Series 9 78"<sup>*</sup> HU9000 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                </li>
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA65HU9000WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140714&cid=au_direct_microsite_av-tv-slideliner-link-product_20140714">Series 9 65"<sup>*</sup> HU9000 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA55HU9000WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140715&cid=au_direct_microsite_av-tv-slideliner-link-product_20140715">Series 9 55"<sup>*</sup> HU9000 UHD<sup>^</sup> LED<sup>~</sup> TV</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 8</div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA65HU8500WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140716&cid=au_direct_microsite_av-tv-slideliner-link-product_20140716">
                                                    Series 8 65"<sup>*</sup> HU8500 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA55HU8500WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140717&cid=au_direct_microsite_av-tv-slideliner-link-product_20140717">
                                                    Series 8 55"<sup>*</sup> HU8500 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li><a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA48HU8500WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140718&cid=au_direct_microsite_av-tv-slideliner-link-product_20140718">
                                                    Series 8 48"<sup>*</sup> HU8500 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                     <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 7</div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA55HU7000WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140719&cid=au_direct_microsite_av-tv-slideliner-link-product_20140719">
                                                        Series 7 55"<sup>*</sup> HU7000 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/uhd-tv/UA50HU7000WXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140720&cid=au_direct_microsite_av-tv-slideliner-link-product_20140720">
                                                        Series 7 50"<sup>*</sup> HU7000 UHD<sup>^</sup> LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div>
                                    Ultra High Definition for<br />
                                    extreme detail.
                                </div>
                                <div>
                                    <a data-versa="http://www.samsung.com.au/samsungslideliner/tvrange/uhd" class="button button-blue diamond-shape">Find out more <i class="fa fa-chevron-right"></i></a>
                                </div>
                                -->
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 text-center">
                     <div class="tv-item">
                            <div class="vspacing vspacing-20">
                                <!--
                                <div class="image-container">
                                    <div class="inner">
                                        <img src="assets/images/ledtv.png" alt="Samsung LEDTV" />
                                    </div>
                                </div>
                                 <div  class="font-size-sm text-center">
                                    Screen image simulated.
                                </div>
                                -->
                                <div>
                                    <h3 class="text-center">LED<sup>~</sup> TV</h3>
                                </div>
                                <!--
                                <div>
                                    Immersive Full HD viewing experience with<br /> exceptional detail and clarity.
                                </div>
                                <div>
                                    <a data-versa="http://www.samsung.com.au/samsungslidelinertvrange/led" class="button button-blue diamond-shape">Find out more <i class="fa fa-chevron-right"></i></a>
                                </div>
                                -->
                                 <div class="text-serials vspacing vspacing-20">
                                    <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 8</div>
                                        <div>
                                            <ul class="arrow-style">
                                               <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA65H8000AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140721&cid=au_direct_microsite_av-tv-slideliner-link-product_20140721">
                                                        Series 8 65"<sup>*</sup> H8000 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                               <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA55H8000AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140722&cid=au_direct_microsite_av-tv-slideliner-link-product_20140722">
                                                        Series 8 55"<sup>*</sup> H8000 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 7</div>
                                        <div>
                                            <ul class="arrow-style">
                                               <li>
                                                    <a href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA75H7000AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140723&cid=au_direct_microsite_av-tv-slideliner-link-product_20140723" target="_blank">
                                                        Series 7 75"<sup>*</sup> H7000 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                               <li>
                                                    <a href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA60H7000AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724" target="_blank">
                                                        Series 7 60"<sup>*</sup> H7000 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                               <li>
                                                    <a href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA55H7000AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724" target="_blank">
                                                        Series 7 55"<sup>*</sup> H7000 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                     <div>
                                        <div class="font-italic text-uppercase text-align-left">Series 6</div>
                                        <div>
                                            <ul class="arrow-style">
                                                <li>
                                                    <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA65H6400AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 65"<sup>*</sup> H6400 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA60H6400AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 60"<sup>*</sup> H6400 LED<sup>~</sup> TV
                                                     </a>   
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA55H6400AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 55"<sup>*</sup> H6400 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA48H6400AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 48"<sup>*</sup> H6400 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA60H6300AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 60"<sup>*</sup> H6300 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                    Series 6 55"<sup>*</sup> H6500 LED<sup>~</sup> TV
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA55H6300AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 55"<sup>*</sup> H6300 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                                <li>
                                                    Series 6 48"<sup>*</sup> H6500 LED<sup>~</sup> TV
                                                </li>
                                                <li>
                                                     <a target="_blank" href="http://www.samsung.com/au/consumer/tv-audio-video/television/led-tv/UA48H6300AWXXY?utm_source=microsite&utm_medium=direct&utm_campaign=av-tv-slideliner&utm_content=link-product-20140724&cid=au_direct_microsite_av-tv-slideliner-link-product_20140724">
                                                        Series 6 48"<sup>*</sup> H6300 LED<sup>~</sup> TV
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
             <div class="disclaimer">
                *Actual screen size may vary by up to 2%.<br/>
                ^Actual resolution will depend on content. Limited UHD content currently available. Additional UHD compatible devices required to view UHD content.<br/>
                ~Samsung LED TV’s utilise LCD screens with LED edge lights.
            </div>
        </div>
        
	</div>
</div>