<header class="global_header">
    <div role="status" class="accNav">
        <p><a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#content" id="skipToContent">Skip to content</a></p>
        <p><a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#accHelp">Skip to accessibility help</a></p>
    </div>

    <div role="status" class="browser_notice">
        <span>This website is best viewed using Internet Explorer 9 , Chrome , Firefox and newer browsers.</span>
        <span class="closer"><a class="close btn" title="close">x</a></span>
    </div>



    <!-- BEGIN: Navigation -->
    <div class="nav">
        <h1>
            <a href="https://www.samsung.com.au/tv/" data-versa="http://samsung.com.au/tv/">
                <img src="assets/img/logo-samsung-2x.png" alt="SAMSUNG AU">
            </a>
        </h1>

        <nav>
            <ul class="navigation">

                <li class="link-home">
                    <a href="https://www.samsung.com.au/tv/" data-versa="http://samsung.com.au/tv/">
                        <img class="icon-home" src="assets/img/icon-home.png" height="16" width="16">
                    </a>
                </li>
                <li class="sub">
                    <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">TV SELECTOR</a>
                    <ul>
                        <li>
                            <a href="https://www.samsung.com.au/tv/selector">Help me choose a TV</a>

                        </li>

                    </ul>
                </li>
                <li class="sub">
                    <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">TV RANGE</a>
                    <ul>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/television/">Curved UHD LED</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/television/">UHD LED</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/television/">LED</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/television/">Accessories</a></li>
                        <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=4">What is a Samsung Smart TV?</a></li>
                        <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=20">Samsung TV Apps</a></li>
                    </ul>
                </li>
                <li class="sub">
                    <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">AUDIO RANGE</a>
                    <ul>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/home-theatre">Home Theatre</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/multiroom">Multiroom Speakers</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/sound-bar">Sound Bars</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/audio-systems">Audio Systems</a></li>
                        <li><a href="http://www.samsung.com/au/consumer/tv-audio-video/blu-ray-dvd-players">Blu-ray Players</a></li>
                    </ul>
                </li>

                <li class="sub">
                    <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">VISION MAGAZINE</a>
                    <ul>
                        <li><a href="http://www.samsung.com.au/tv/vision/">Latest Issue</a></li>
                        <li class="sub">
                            <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">Issue 1</a>
                            <ul>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=4"> What is a Samsung Smart TV?</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=9">Why a Curved UHD TV?</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=17">The Smart Hub 5 Panels - Explained</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=20">TV Apps</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue1/html5/index.html?page=28">Sharing With Compatible Devices</a></li>
                            </ul>
                        </li>
                        <li class="sub">
                            <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">Issue 2</a>
                            <ul>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue2/html5/index.html?page=19">Great Sound At Home</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue2/html5/index.html?page=5">Sports Mode TV Viewing</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue2/html5/index.html?page=17">Samsung Sound Events</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue2/html5/index.html?page=12">Samsung Multiroom Speakers</a></li>
                                <li><a href="http://www.samsung.com.au/tv/vision/issue2/html5/index.html?page=3">Match Your TV With an AV System</a></li>

                            </ul>
                        </li>
                        <!--<li><a href='#'>Sign up for Vision</a></li>-->
                    </ul>
                </li>

                <li class="sub">
                    <a href="http://samsung-responsive-sodadigital.azurewebsites.net/tv/#none">PROMOTIONS</a>
                    <ul>
                        <li><a href="https://www.samsung.com.au/samsungslideliner">Samsung SlideLiner</a></li>
                        <li><a href="https://www.samsung.com.au/samsungsound/">Samsung Sound - Multiroom Speakers</a></li>
                    </ul>
                </li>

                <!--<li><a href="/au/estore" onclick="sendClickCode('gnb', 'estore');"><span class="icon-estore"></span>Store</a></li>-->


            </ul>



            <div class="utillink">



                <a href="http://www.samsung.com/au/wishlist/" class="navLink">My Wish List</a>
                <a href="http://www.samsung.com/au/offer/" class="navLink">Promotions</a>
                <a href="http://www.samsung.com/au/aboutsamsung/samsungelectronics/careers/whysamsungelectronics.html" class="navLink">Careers</a>
                <a href="http://www.samsung.com/au/aboutsamsung/" class="navLink">About Samsung</a>


            </div>
        </nav>


        <div class="container">



            <!-- BEGIN: Global Search -->



            <div class="search-wrap">
                <button class="searchbutton"><span class="icon-search"></span>Search</button>
                <div class="searchbox">
                    <form name="search-form" action="http://www.samsung.com/au/search/">
                        <label>Search</label>
                        <input type="search" name="q" id="search-form-input" autocomplete="off" class="left search-form-input" placeholder="Search" maxlength="100">

                        <button type="submit" value=""><span class="icon-search"></span></button>
                    </form>
                </div>
            </div>



            <!-- END: Global Search -->


            <button class="navbutton"><span class="icon-list"></span>NAV</button>
        </div>
    </div>
    <div id="overlay"></div>
    <!-- END: Navigation -->


</header>
