<div class="slide-linder-footer">
	<div class="visible-xs padding padding-40 footer-inner">
		<div class="text-center">
			<div class="vspacing vspacing-20">
				<div class="share-group clearfix">
					<div class="share-icon facebook">
						<a data-omniture="facebook-samsungslideliner" data-versa="http://www.samsung.com.au/samsungslideliner/facebook" onclick="window.open(app.facebook_share_url,'','width=500,height=580')"><img src="assets/images/dummy.png"></a>
					</div>
					<div class="share-icon twitter">
						 <a onclick="window.open(app.twitter_share_url,'','width=500,height=580')"  data-versa="http://www.samsung.com.au/samsungslideliner/twitter"  data-omniture="twitter-samsungslideliner"><img src="assets/images/dummy.png"></a>
					</div>
				</div>
				<div class="desktop-logo-container">
					<div class="logo"></div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="<%=tncUrl%>" class="word-break-all"  omniture-event-type="e" data-omniture="terms-conditions" target="_blank">Terms & conditions</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="<%=privacyUrl%>" omniture-event-type="e" data-omniture="privacy-policy" target="_blank">Privacy policy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>