<script type="text/javascript" src="core/scripts/samsung.min.js"></script>
<script type="text/javascript" src="core/scripts/ss-location.js"></script>
<script type="text/javascript" src="core/scripts/waypoints.js"></script>
<!-- Global Styles -->
<link rel="stylesheet" type="text/css" href="core/css/common/samsung.css" />
<link rel="stylesheet" type="text/css" href="core/css/au/samsung.css" />

<!-- Navigation -->
<link rel="stylesheet" href="core/css/common/navigation.css" />
<link rel="stylesheet" href="core/css/au/navigation.css" />

<link rel="stylesheet" type="text/css" href="core/css/common/modules/alerts.css" />
<link rel="stylesheet" type="text/css" href="core/css/au/modules/alerts.css" />
<!--[if lte IE 9]>
    <script src="core/scripts/Placeholders.min.js"></script>
<![endif]-->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="core/css/common/ie-samsung.css" />
    <link rel="stylesheet" href="core/css/au/ie-samsung.css" />
    <link rel="stylesheet" href="core/css/common/ie-navigation.css" />
    <link rel="stylesheet" href="core/css/au/ie-navigation.css" />
    <script src="core/scripts/html5shiv.js"></script>
<![endif]-->
<!--[if IE 7]>
    <link rel="stylesheet" href="core/css/common/ie7-samsung.css" />
    <script type="text/javascript" src="core/scripts/lte-ie7.js"></script>
<![endif]-->
<!-- favicon  -->
<link rel="shortcut icon" href="core/common/img/favicon.ico" />
<link rel="apple-touch-icon" href="core/common/img/app_ico.gif" />

<link rel="stylesheet" type="text/css" href="core/css/common/pages/sign.css" />
<link rel="stylesheet" type="text/css" href="core/css/au/pages/sign.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="core/css/common/pages/ie-sign.css" />
    <link rel="stylesheet" href="core/css/au/pages/ie-sign.css" />
<![endif]-->
<!-- Utility Icons -->
<link rel="stylesheet" href="core/css/common/utilityIcons.css" />
<link rel="stylesheet" href="core/css/au/utilityIcons.css" />



<!-- SODA: REM'D SOME STUFF -->
<!-- NOTE: Reference code only. -->
<script type="text/javascript" src="core/scripts/deepLinkManager.js"></script>



<!-- SODA DIGITAL / GADGET GROUP -->

<link href="core/css/navigation.css" rel="stylesheet" />