<footer class="footer" role="contentinfo">
    <div class="top section">
        <ul class="cola">
            <li><a href="http://www.samsung.com/au/aboutsamsung/">About Us</a></li>
            <li><a href="http://www.samsung.com/au/aboutsamsung/samsungelectronics/careers/whysamsungelectronics.html">Careers</a></li>
            <li><a href="http://www.samsung.com/au/news/">News</a></li>
            <li><a href="http://www.samsung.com/au/article/">Articles</a></li>
            <li><a href="http://www.samsung.com/au/info/contactus.html">Contact Us</a></li>
            <li><a href="http://www.samsung.com/au/samsungstore/">Visit a Samsung Store</a></li>
        </ul>
        <ul class="colb">
            <li><a href="http://store.samsung.com/au/ng/help/faq">Shopping FAQ</a></li>
            <li><a href="http://www.samsung.com/au/estore/static/link_mindpolicy_p.html" target="_blank" onclick="window.open(this.href,'_blank','scrollbars=yes, width=470, height=600'); return false;">Change of Mind Policy</a></li>
            <li><a href="http://www.samsung.com/au/estore/static/link_terms_and_conditions_of_sale.html">Terms &amp; Conditions of Sale</a></li>
            <li id="accHelp"><a href="http://www.samsung.com/au/accessibility/">Accessibility Help</a></li>
            <li><a href="http://www.samsung.com/au/info/privacy.html">Privacy</a></li>
            <li><a href="http://www.samsung.com/au/info/legal.html">Legal</a></li>
            <li><a href="http://www.samsung.com/au/info/sitemap.html">Sitemap</a></li>
        </ul>
    </div>
    <div class="middle section">
        <ul>
            <li><a href="https://www.facebook.com/SamsungAustralia" class="fbico icon-fb" title="new window opens" target="_blank"><!-- msg:code common.newwindowopens.wcag --><span class="blind">Facebook<!-- msg:code footer.facebook.wcag --></span></a></li>

            <li class="middle-ico-last"><a href="http://www.samsung.com.au" class="lang" title="Visit your country's homepage">Australia/English<span class="flag-au"></span></a></li>
        </ul>
    </div>
    <div class="bottom section">
        <span class="cc">Copyright&copy; 1995-2014 SAMSUNG All Rights Reserved.<!-- msg:code footer.copyrignt.text --></span>
        <a class="topBtn" href="#content">Back to top<!-- msg:code footer.backtotop.html --><span class="jump-up icon-jump-up"></span></a>
    </div>
    <div class="bottom section_notice">
        <span class="cc">ABN 63 002 915 64<br /><br />This website is best viewed using Internet Explorer 9, Chrome, Safari and newer browsers.</span>
    </div>
    <div class="bottom-spacer"></div>
</footer>